In [63]:
import pandas as pd
from sqlalchemy import create_engine, text
import sys

## Configurando pandas
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Fun√ß√£o de conex√£o banco de dados

In [64]:
def connect_to_database(database):
    try:
        connection_string = f'mssql+pyodbc://localhost/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'
        engine = create_engine(connection_string)
        return engine 
    except Exception as e:
        print("Erro ao conectar ao banco de dados:", e)
        return None

## TbAccount

In [65]:
file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbCabecalho.csv'
dataset = pd.read_csv(file_path, sep='\t')
select_columns = [
    'id_account',
    'account_username',
    'account_biography',
    'profile_picture_url',
    'account_name'
]

dataset= dataset[select_columns]
dataset.head()

          id_account   account_username                                  account_biography                                profile_picture_url       account_name
0  17841425444516188  bodemeier.digital  ‚ôüÔ∏èCria√ß√£o de conte√∫do estrat√©gico\n‚ñ™Ô∏è+ de 5 an...  https://scontent.fcgh8-1.fna.fbcdn.net/v/t51.2...  Bodemeier Digital
1  17841417530400616          gabgalani  RJ üî∏ SP\ndata is the new oil üíª\n@carolinebodem...  https://scontent.fcgh8-1.fna.fbcdn.net/v/t51.2...     Gabriel Galani

In [66]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_account           2 non-null      int64
 1   account_username     2 non-null      object
 2   account_biography    2 non-null      object
 3   profile_picture_url  2 non-null      object
 4   account_name         2 non-null      object
dtypes: int64(1), object(4)
memory usage: 212.0+ bytes

In [67]:
d_type = {
    'id_account': object
}
dataset = dataset.astype(d_type)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_account           2 non-null      object
 1   account_username     2 non-null      object
 2   account_biography    2 non-null      object
 3   profile_picture_url  2 non-null      object
 4   account_name         2 non-null      object
dtypes: object(5)
memory usage: 212.0+ bytes

Carregar para o banco

In [68]:
dataset.head()

          id_account   account_username                                  account_biography                                profile_picture_url       account_name
0  17841425444516188  bodemeier.digital  ‚ôüÔ∏èCria√ß√£o de conte√∫do estrat√©gico\n‚ñ™Ô∏è+ de 5 an...  https://scontent.fcgh8-1.fna.fbcdn.net/v/t51.2...  Bodemeier Digital
1  17841417530400616          gabgalani  RJ üî∏ SP\ndata is the new oil üíª\n@carolinebodem...  https://scontent.fcgh8-1.fna.fbcdn.net/v/t51.2...     Gabriel Galani

In [69]:
engine = connect_to_database('DW')
table_name = 'TbAccount'
key_column = 'id_account'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in dataset.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.

## DTbAccountInsights e FTbAccountsDayInsights e FTbAccountsLifetimeInsights

Coletando do arquivo de dia

In [70]:

file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccontDayInsights.csv'
dataset = pd.read_csv(file_path, sep='\t')
select_columns = [
    'name',
    'period',
    'title',
    'description'
]
FTbAccountDayInsights = dataset
dataset_day_dimension = dataset[select_columns]
dataset_day_dimension.head()

                name period                          title                                        description
0        impressions    day                     Impress√µes  N√∫mero total de vezes que os objetos de m√≠dia ...
1              reach    day                        Alcance  N√∫mero total de vezes que os objetos de m√≠dia ...
2     follower_count    day           N√∫mero de seguidores  N√∫mero total de contas √∫nicas que seguem este ...
3     email_contacts    day              Contatos de email  N√∫mero total de toques no link de email deste ...
4  phone_call_clicks    day  Cliques em liga√ß√£o telef√¥nica  N√∫mero total de toques no link de liga√ß√£o dest...

Coletando do arquivo de lifetime

In [71]:
cidade_seguidores = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccountLifeCidadeDosSeguidores.csv'
Faixa_genero = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccountLifeFaixaGenero.csv'
local_pais = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccountLifeLocaPais.csv'
pais_seguidores = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccountLifePaisDosSeguidores.csv'
seguidores_on = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbAccountLifeSeguidoresOnline.csv'

list_df = [cidade_seguidores, Faixa_genero, local_pais, pais_seguidores, seguidores_on]
dfs = [] 

for df in list_df: 
    data = pd.read_csv(df, sep='\t')
    dfs.append(data)

dataset = pd.concat(dfs)
select_columns = [
    'name',
    'period',
    'title',
    'description'
]
FTbAccountLifetimeInsights = dataset
dataset_lifetime_dimension = dataset[select_columns]
dataset_lifetime_dimension.head()

            name    period              title                          description
0  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil
1  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil
2  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil
3  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil
4  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil

ADICIONADO POSTERIORMENTE
Carregando a tabela de insights de mdiias e stories para essa dimens√£o

In [72]:

file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbStoriesInsights.csv'
dataset_1 = pd.read_csv(file_path, sep='\t')
select_columns = [
    'name',
    'period',
    'title',
    'description'
]
stories_descricao_dimensao = dataset_1[select_columns]
stories_descricao_dimensao.head(10)

           name    period                title                                        description
0         exits  lifetime               Sa√≠das           N√∫mero de vezes que algu√©m saiu do story
1       replies  lifetime            Respostas                 N√∫mero total de respostas ao story
2  taps_forward  lifetime  Toques para avan√ßar  N√∫mero total de toques para ver a foto ou v√≠de...
3     taps_back  lifetime   Toques para voltar  N√∫mero total de toques para ver a foto ou o v√≠...
4   impressions  lifetime           Impress√µes  O n√∫mero de vezes que seu story foi exibido na...
5         reach  lifetime    Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este story...

In [73]:

file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbMidiasInsights.csv'
dataset_2 = pd.read_csv(file_path, sep='\t')
select_columns = [
    'name',
    'period',
    'title',
    'description'
]
midias_descricao_dimensao = dataset_2[select_columns]
midias_descricao_dimensao.head()

    name    period              title                                        description
0  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...
1  saved  lifetime              Salvo          O n√∫mero de vezes que seu reel foi salvo.
2  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...
3  saved  lifetime              Salvo          O n√∫mero de vezes que seu reel foi salvo.
4  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...

Transformando os datasets em dados unicos

In [74]:
dataset_day_dimension.drop_duplicates(inplace=True)
dataset_lifetime_dimension.drop_duplicates(inplace=True)
stories_descricao_dimensao.drop_duplicates(subset=('name'), inplace=True)
midias_descricao_dimensao.drop_duplicates(subset=('name'),inplace=True)

C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3089048326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_day_dimension.drop_duplicates(inplace=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3089048326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_lifetime_dimension.drop_duplicates(inplace=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3089048326.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stories_descricao_dimensao.drop_duplicates(subset=('name'), inplace=True)
C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3089048326.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  midias_descricao_dimensao.drop_duplicates(subset=('name'),inplace=True)

Unindo as dimens√µes

In [75]:
DTbAccountInsights = pd.concat([dataset_day_dimension,dataset_lifetime_dimension, stories_descricao_dimensao, midias_descricao_dimensao])
DTbAccountInsights.sort_values('name', inplace=True)
DTbAccountInsights.drop_duplicates(subset=('name'),inplace=True)
DTbAccountInsights.reset_index(inplace=True)
DTbAccountInsights['id_insight'] = DTbAccountInsights.index + 1
DTbAccountInsights = DTbAccountInsights[['id_insight'] + [col for col in DTbAccountInsights.columns if col != 'id_insight']]
DTbAccountInsights.drop(columns='index', inplace=True)
DTbAccountInsights.rename(columns={'period': 'frequencia'}, inplace=True)
DTbAccountInsights.head()

   id_insight                 name frequencia                  title                                        description
0           1        audience_city   lifetime      Cidade do p√∫blico                Cidades dos seguidores deste perfil
1           2     audience_country   lifetime        Pa√≠s do p√∫blico                 Pa√≠ses dos seguidores deste perfil
2           3  audience_gender_age   lifetime  G√™nero e faixa et√°ria  A distribui√ß√£o por g√™nero e faixa et√°ria dos s...
3           4      audience_locale   lifetime            Localiza√ß√£o  Localidades por c√≥digos de pa√≠s dos seguidores...
4           5       email_contacts        day      Contatos de email  N√∫mero total de toques no link de email deste ...

In [76]:
DTbAccountInsights.head(100)

    id_insight                   name frequencia                          title                                        description
0            1          audience_city   lifetime              Cidade do p√∫blico                Cidades dos seguidores deste perfil
1            2       audience_country   lifetime                Pa√≠s do p√∫blico                 Pa√≠ses dos seguidores deste perfil
2            3    audience_gender_age   lifetime          G√™nero e faixa et√°ria  A distribui√ß√£o por g√™nero e faixa et√°ria dos s...
3            4        audience_locale   lifetime                    Localiza√ß√£o  Localidades por c√≥digos de pa√≠s dos seguidores...
4            5         email_contacts        day              Contatos de email  N√∫mero total de toques no link de email deste ...
5            6             engagement   lifetime                    Engajamento  N√∫mero total de curtidas, coment√°rios e salvam...
6            7                  exits   lifetime                         Sa√≠das           N√∫mero de vezes que algu√©m saiu do story
7            8         follower_count        day           N√∫mero de seguidores  N√∫mero total de contas √∫nicas que seguem este ...
8            9  get_directions_clicks        day         Cliques em Como chegar  N√∫mero total de toques no link Como chegar des...
9           10            impressions   lifetime                     Impress√µes  O n√∫mero de vezes que seu story foi exibido na...
10          11       online_followers   lifetime              Seguidores online  N√∫mero total de seguidores deste perfil que es...
11          12      phone_call_clicks        day  Cliques em liga√ß√£o telef√¥nica  N√∫mero total de toques no link de liga√ß√£o dest...
12          13          profile_views        day        Visualiza√ß√µes do perfil  N√∫mero total de usu√°rios que visualizaram o pe...
13          14                  reach        day                        Alcance  N√∫mero total de vezes que os objetos de m√≠dia ...
14          15                replies   lifetime                      Respostas                 N√∫mero total de respostas ao story
15          16                  saved   lifetime                          Salvo          O n√∫mero de vezes que seu reel foi salvo.
16          17              taps_back   lifetime             Toques para voltar  N√∫mero total de toques para ver a foto ou o v√≠...
17          18           taps_forward   lifetime            Toques para avan√ßar  N√∫mero total de toques para ver a foto ou v√≠de...
18          19    text_message_clicks        day  Cliques em mensagens de texto  N√∫mero total de toques no link de mensagens de...
19          20            video_views   lifetime         Visualiza√ß√µes de v√≠deo        N√∫mero total de vezes que o v√≠deo foi visto
20          21         website_clicks        day                Cliques no site  N√∫mero total de toques no link do site deste p...

Carregando no banco DTbAccountInsights

In [77]:
DTbAccountInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_insight   21 non-null     int64
 1   name         21 non-null     object
 2   frequencia   21 non-null     object
 3   title        21 non-null     object
 4   description  21 non-null     object
dtypes: int64(1), object(4)
memory usage: 972.0+ bytes

In [78]:
engine = connect_to_database('DW')
table_name = 'DTbDescricaoInsights'
key_column = 'id_insight'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in DTbAccountInsights.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id_insight = 1 j√° existe.
Registro com id_insight = 2 j√° existe.
Registro com id_insight = 3 j√° existe.
Registro com id_insight = 4 j√° existe.
Registro com id_insight = 5 j√° existe.
Registro com id_insight = 6 j√° existe.
Registro com id_insight = 7 j√° existe.
Registro com id_insight = 8 j√° existe.
Registro com id_insight = 9 j√° existe.
Registro com id_insight = 10 j√° existe.
Registro com id_insight = 11 j√° existe.
Registro com id_insight = 12 j√° existe.
Registro com id_insight = 13 j√° existe.
Registro com id_insight = 14 j√° existe.
Registro com id_insight = 15 j√° existe.
Registro com id_insight = 16 j√° existe.
Registro com id_insight = 17 j√° existe.
Registro com id_insight = 18 j√° existe.
Registro com id_insight = 19 j√° existe.
Registro com id_insight = 20 j√° existe.
Registro com id_insight = 21 j√° existe.

Carregando a tabela FTbAccountDayInsights

In [79]:
FTbAccountDayInsights.head()

   Unnamed: 0               name period                          title                                        description                                                id           username  last_day             last_end_time  actual_day           actual_end_time         id_account                               chave extract_date  period_extraction  year  day                                    id_tb_midia
0           0        impressions    day                     Impress√µes  N√∫mero total de vezes que os objetos de m√≠dia ...        17841425444516188/insights/impressions/day  bodemeier.digital         2  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188        17841425444516188impressions   2024-05-24                  5  2024   24        1784142544451618820240524impressionsday
1           1              reach    day                        Alcance  N√∫mero total de vezes que os objetos de m√≠dia ...              17841425444516188/insights/reach/day  bodemeier.digital         1  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188              17841425444516188reach   2024-05-24                  5  2024   24              1784142544451618820240524reachday
2           2     follower_count    day           N√∫mero de seguidores  N√∫mero total de contas √∫nicas que seguem este ...     17841425444516188/insights/follower_count/day  bodemeier.digital         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188     17841425444516188follower_count   2024-05-24                  5  2024   24     1784142544451618820240524follower_countday
3           3     email_contacts    day              Contatos de email  N√∫mero total de toques no link de email deste ...     17841425444516188/insights/email_contacts/day  bodemeier.digital         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188     17841425444516188email_contacts   2024-05-24                  5  2024   24     1784142544451618820240524email_contactsday
4           4  phone_call_clicks    day  Cliques em liga√ß√£o telef√¥nica  N√∫mero total de toques no link de liga√ß√£o dest...  17841425444516188/insights/phone_call_clicks/day  bodemeier.digital         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188  17841425444516188phone_call_clicks   2024-05-24                  5  2024   24  1784142544451618820240524phone_call_clicksday

In [80]:
engine = connect_to_database('DW')
table_name = 'TbAccount'
key_column = 'id_account'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in dataset.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id_account = 17841425444516188 j√° existe.

Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.
Registro com id_account = 17841425444516188 j√° existe.
Registro com id_account = 17841417530400616 j√° existe.

Tabela FTbAccountDayInsights

Unindo com a dimensao de DTbAccountInsights para trazer o id

In [81]:
FTbAccountDayInsights = pd.merge(FTbAccountDayInsights, DTbAccountInsights, on='name', how= 'inner')
FTbAccountDayInsights.head(1)

   Unnamed: 0         name period     title_x                                      description_x                                          id           username  last_day             last_end_time  actual_day           actual_end_time         id_account                         chave extract_date  period_extraction  year  day                              id_tb_midia  id_insight frequencia     title_y                                      description_y
0           0  impressions    day  Impress√µes  N√∫mero total de vezes que os objetos de m√≠dia ...  17841425444516188/insights/impressions/day  bodemeier.digital         2  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000  17841425444516188  17841425444516188impressions   2024-05-24                  5  2024   24  1784142544451618820240524impressionsday          10   lifetime  Impress√µes  O n√∫mero de vezes que seu story foi exibido na...

In [82]:
select_columns = [
  'id_tb_midia',
  'id_insight',
  'id_account',
  'last_day',
  'last_end_time',
  'actual_day',
  'actual_end_time',
  'extract_date',
  'period_extraction',
  'year',
  'day'
 ]
FTbAccountDayInsights = FTbAccountDayInsights[select_columns]
FTbAccountDayInsights.head()

                                     id_tb_midia  id_insight         id_account  last_day             last_end_time  actual_day           actual_end_time extract_date  period_extraction  year  day
0        1784142544451618820240524impressionsday          10  17841425444516188         2  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
1              1784142544451618820240524reachday          14  17841425444516188         1  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
2     1784142544451618820240524follower_countday           8  17841425444516188         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
3     1784142544451618820240524email_contactsday           5  17841425444516188         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
4  1784142544451618820240524phone_call_clicksday          12  17841425444516188         0  2024-05-23T07:00:00+0000           0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24

Renomeando colunas

In [83]:
columns_rename = {
    'id_tb_midia': 'id',
    'last_day': 'value_last_day',
    'actual_day': 'value_actual_day'
}
FTbAccountDayInsights.rename(columns = columns_rename, inplace=True)
FTbAccountDayInsights.head()

                                              id  id_insight         id_account  value_last_day             last_end_time  value_actual_day           actual_end_time extract_date  period_extraction  year  day
0        1784142544451618820240524impressionsday          10  17841425444516188               2  2024-05-23T07:00:00+0000                 0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
1              1784142544451618820240524reachday          14  17841425444516188               1  2024-05-23T07:00:00+0000                 0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
2     1784142544451618820240524follower_countday           8  17841425444516188               0  2024-05-23T07:00:00+0000                 0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
3     1784142544451618820240524email_contactsday           5  17841425444516188               0  2024-05-23T07:00:00+0000                 0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24
4  1784142544451618820240524phone_call_clicksday          12  17841425444516188               0  2024-05-23T07:00:00+0000                 0  2024-05-24T07:00:00+0000   2024-05-24                  5  2024   24

Tipagem de dados

In [84]:
FTbAccountDayInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 18 non-null     object
 1   id_insight         18 non-null     int64
 2   id_account         18 non-null     int64
 3   value_last_day     18 non-null     int64
 4   last_end_time      18 non-null     object
 5   value_actual_day   18 non-null     int64
 6   actual_end_time    18 non-null     object
 7   extract_date       18 non-null     object
 8   period_extraction  18 non-null     int64
 9   year               18 non-null     int64
 10  day                18 non-null     int64
dtypes: int64(7), object(4)
memory usage: 1.7+ KB

In [85]:
# Primeiro, vamos converter as colunas de data para o tipo de dados datetime64
FTbAccountDayInsights['last_end_time'] = pd.to_datetime(FTbAccountDayInsights['last_end_time'])
FTbAccountDayInsights['actual_end_time'] = pd.to_datetime(FTbAccountDayInsights['actual_end_time'])
FTbAccountDayInsights['extract_date'] = pd.to_datetime(FTbAccountDayInsights['extract_date'])

# Agora, vamos extrair apenas a data (sem a hora) das colunas de data
FTbAccountDayInsights['last_end_time'] = FTbAccountDayInsights['last_end_time'].dt.date
FTbAccountDayInsights['actual_end_time'] = FTbAccountDayInsights['actual_end_time'].dt.date
FTbAccountDayInsights['extract_date'] = FTbAccountDayInsights['extract_date'].dt.date

type_columns = {
    'period_extraction': 'object',
    'year': 'object',
    'day': 'object'                
}

FTbAccountDayInsights = FTbAccountDayInsights.astype(type_columns)

In [86]:
FTbAccountDayInsights.head()

                                              id  id_insight         id_account  value_last_day last_end_time  value_actual_day actual_end_time extract_date period_extraction  year day
0        1784142544451618820240524impressionsday          10  17841425444516188               2    2024-05-23                 0      2024-05-24   2024-05-24                 5  2024  24
1              1784142544451618820240524reachday          14  17841425444516188               1    2024-05-23                 0      2024-05-24   2024-05-24                 5  2024  24
2     1784142544451618820240524follower_countday           8  17841425444516188               0    2024-05-23                 0      2024-05-24   2024-05-24                 5  2024  24
3     1784142544451618820240524email_contactsday           5  17841425444516188               0    2024-05-23                 0      2024-05-24   2024-05-24                 5  2024  24
4  1784142544451618820240524phone_call_clicksday          12  17841425444516188               0    2024-05-23                 0      2024-05-24   2024-05-24                 5  2024  24

Carregando os dados no banco

In [87]:
engine = connect_to_database('DW')
table_name = 'FTbAccountDayInsights'
key_column = 'id'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in FTbAccountDayInsights.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id = 1784142544451618820240524impressionsday j√° existe.
Registro com id = 1784142544451618820240524reachday j√° existe.
Registro com id = 1784142544451618820240524follower_countday j√° existe.
Registro com id = 1784142544451618820240524email_contactsday j√° existe.
Registro com id = 1784142544451618820240524phone_call_clicksday j√° existe.
Registro com id = 1784142544451618820240524text_message_clicksday j√° existe.
Registro com id = 1784142544451618820240524get_directions_clicksday j√° existe.
Registro com id = 1784142544451618820240524website_clicksday j√° existe.
Registro com id = 1784142544451618820240524profile_viewsday j√° existe.
Registro com id = 1784141753040061620240524impressionsday j√° existe.
Registro com id = 1784141753040061620240524reachday j√° existe.
Registro com id = 1784141753040061620240524follower_countday j√° existe.
Registro com id = 1784141753040061620240524email_contactsday j√° existe.
Registro com id = 1784141753040061620240524phone_call_clicksday j√° existe.
Registro com id = 1784141753040061620240524text_message_clicksday j√° existe.
Registro com id = 1784141753040061620240524get_directions_clicksday j√° existe.
Registro com id = 1784141753040061620240524website_clicksday j√° existe.
Registro com id = 1784141753040061620240524profile_viewsday j√° existe.

Tabela FTbAccountLifetimeInsights

Unindo com a dimensao de DTbAccountInsights para trazer o id

In [88]:
FTbAccountLifetimeInsights.head()

   Unnamed: 0           name    period              title                          description           username         id_account extract_date  period_extraction  year  day                                   id_tb_account                                    age_gender  value
0           0  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil  bodemeier.digital  17841425444516188   2024-05-24                  5  2024   24  1784142544451618820240524audience_citylifetime            value.S√£o Paulo, S√£o Paulo (state)  180.0
1           1  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil          gabgalani  17841417530400616   2024-05-24                  5  2024   24  1784141753040061620240524audience_citylifetime            value.S√£o Paulo, S√£o Paulo (state)  108.0
2           2  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil  bodemeier.digital  17841425444516188   2024-05-24                  5  2024   24  1784142544451618820240524audience_citylifetime               value.Karab√ºk, Karab√ºk Province    8.0
3           3  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil          gabgalani  17841417530400616   2024-05-24                  5  2024   24  1784141753040061620240524audience_citylifetime               value.Karab√ºk, Karab√ºk Province    NaN
4           4  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil  bodemeier.digital  17841425444516188   2024-05-24                  5  2024   24  1784142544451618820240524audience_citylifetime  value.Rio de Janeiro, Rio de Janeiro (state)   24.0

In [89]:
FTbAccountLifetimeInsights = pd.merge(FTbAccountLifetimeInsights, DTbAccountInsights, on='name', how= 'inner')
FTbAccountLifetimeInsights.head(1)

   Unnamed: 0           name    period            title_x                        description_x           username         id_account extract_date  period_extraction  year  day                                   id_tb_account                          age_gender  value  id_insight frequencia            title_y                        description_y
0           0  audience_city  lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil  bodemeier.digital  17841425444516188   2024-05-24                  5  2024   24  1784142544451618820240524audience_citylifetime  value.S√£o Paulo, S√£o Paulo (state)  180.0           1   lifetime  Cidade do p√∫blico  Cidades dos seguidores deste perfil

Selecionando colunas

In [90]:
select_columns = [
    'id_tb_account',
    'id_account',
    'id_insight',
    'extract_date',
    'period_extraction',
    'year',
    'day',
    'name',
    'age_gender',
    'value'
]

FTbAccountLifetimeInsights = FTbAccountLifetimeInsights[select_columns]
FTbAccountLifetimeInsights.head()

                                    id_tb_account         id_account  id_insight extract_date  period_extraction  year  day           name                                    age_gender  value
0  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city            value.S√£o Paulo, S√£o Paulo (state)  180.0
1  1784141753040061620240524audience_citylifetime  17841417530400616           1   2024-05-24                  5  2024   24  audience_city            value.S√£o Paulo, S√£o Paulo (state)  108.0
2  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city               value.Karab√ºk, Karab√ºk Province    8.0
3  1784141753040061620240524audience_citylifetime  17841417530400616           1   2024-05-24                  5  2024   24  audience_city               value.Karab√ºk, Karab√ºk Province    NaN
4  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city  value.Rio de Janeiro, Rio de Janeiro (state)   24.0

Renomando colunas

In [91]:
rename_columns = {
    'id_tb_account': 'id',
    'name': 'definicao',
    'age_gender': 'value_descricao'
}

FTbAccountLifetimeInsights.rename(columns=rename_columns, inplace=True)
FTbAccountLifetimeInsights['value_descricao'] = FTbAccountLifetimeInsights['value_descricao'].str.replace('value.', '')
FTbAccountLifetimeInsights.head(5)

                                               id         id_account  id_insight extract_date  period_extraction  year  day      definicao                         value_descricao  value
0  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city            S√£o Paulo, S√£o Paulo (state)  180.0
1  1784141753040061620240524audience_citylifetime  17841417530400616           1   2024-05-24                  5  2024   24  audience_city            S√£o Paulo, S√£o Paulo (state)  108.0
2  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city               Karab√ºk, Karab√ºk Province    8.0
3  1784141753040061620240524audience_citylifetime  17841417530400616           1   2024-05-24                  5  2024   24  audience_city               Karab√ºk, Karab√ºk Province    NaN
4  1784142544451618820240524audience_citylifetime  17841425444516188           1   2024-05-24                  5  2024   24  audience_city  Rio de Janeiro, Rio de Janeiro (state)   24.0

Tratando valores que n√£o s√£o numeros

In [125]:
def replace_non_numeric(value):
    try:
        float(value)  # Tenta converter o valor para float
        return value  # Se for num√©rico, mantenha o valor
    except ValueError:
        return 0  # Se n√£o for num√©rico, substitua por 0

# Aplique a fun√ß√£o √† coluna 'value'
FTbAccountLifetimeInsights['value'] = FTbAccountLifetimeInsights['value'].apply(lambda x: replace_non_numeric(x))
FTbAccountLifetimeInsights['value'] = FTbAccountLifetimeInsights['value'].fillna(0)
FTbAccountLifetimeInsights.head()

                                                  id         id_account  id_insight extract_date period_extraction  year day      definicao                         value_descricao  value
0  1784142544451618812024-05-24S√£o Paulo, S√£o Pau...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  180.0
1  1784141753040061612024-05-24S√£o Paulo, S√£o Pau...  17841417530400616           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  108.0
2  1784142544451618812024-05-24Karab√ºk, Karab√ºk P...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city               Karab√ºk, Karab√ºk Province    8.0
4  1784142544451618812024-05-24Rio de Janeiro, Ri...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city  Rio de Janeiro, Rio de Janeiro (state)   24.0
5  1784141753040061612024-05-24Rio de Janeiro, Ri...  17841417530400616           1   2024-05-24                 5  2024  24  audience_city  Rio de Janeiro, Rio de Janeiro (state)    7.0

Tipagem dos dados

In [93]:
FTbAccountLifetimeInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 338 non-null    object
 1   id_account         338 non-null    int64
 2   id_insight         338 non-null    int64
 3   extract_date       338 non-null    object
 4   period_extraction  338 non-null    int64
 5   year               338 non-null    int64
 6   day                338 non-null    int64
 7   definicao          338 non-null    object
 8   value_descricao    338 non-null    object
 9   value              338 non-null    float64
dtypes: float64(1), int64(5), object(4)
memory usage: 26.5+ KB

In [94]:
FTbAccountLifetimeInsights['extract_date'] = pd.to_datetime(FTbAccountLifetimeInsights['extract_date'])

type_columns = {
    'id_account': 'object',
    'period_extraction': 'object',
    'year': 'object',
    'day': 'object'
}

FTbAccountLifetimeInsights = FTbAccountLifetimeInsights.astype(type_columns)
FTbAccountLifetimeInsights.drop(columns='id', inplace=True)
FTbAccountLifetimeInsights['id'] = FTbAccountLifetimeInsights['id_account'].astype(str) + FTbAccountLifetimeInsights['id_insight'].astype(str) +  FTbAccountLifetimeInsights['extract_date'].astype(str) + FTbAccountLifetimeInsights['value_descricao'] 
FTbAccountLifetimeInsights.head()

          id_account  id_insight extract_date period_extraction  year day      definicao                         value_descricao  value                                                 id
0  17841425444516188           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  180.0  1784142544451618812024-05-24S√£o Paulo, S√£o Pau...
1  17841417530400616           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  108.0  1784141753040061612024-05-24S√£o Paulo, S√£o Pau...
2  17841425444516188           1   2024-05-24                 5  2024  24  audience_city               Karab√ºk, Karab√ºk Province    8.0  1784142544451618812024-05-24Karab√ºk, Karab√ºk P...
3  17841417530400616           1   2024-05-24                 5  2024  24  audience_city               Karab√ºk, Karab√ºk Province    0.0  1784141753040061612024-05-24Karab√ºk, Karab√ºk P...
4  17841425444516188           1   2024-05-24                 5  2024  24  audience_city  Rio de Janeiro, Rio de Janeiro (state)   24.0  1784142544451618812024-05-24Rio de Janeiro, Ri...

In [95]:
colunas = ['id'] + [coluna for coluna in FTbAccountLifetimeInsights if coluna != 'id']
FTbAccountLifetimeInsights = FTbAccountLifetimeInsights[colunas]
FTbAccountLifetimeInsights.head()

                                                  id         id_account  id_insight extract_date period_extraction  year day      definicao                         value_descricao  value
0  1784142544451618812024-05-24S√£o Paulo, S√£o Pau...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  180.0
1  1784141753040061612024-05-24S√£o Paulo, S√£o Pau...  17841417530400616           1   2024-05-24                 5  2024  24  audience_city            S√£o Paulo, S√£o Paulo (state)  108.0
2  1784142544451618812024-05-24Karab√ºk, Karab√ºk P...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city               Karab√ºk, Karab√ºk Province    8.0
3  1784141753040061612024-05-24Karab√ºk, Karab√ºk P...  17841417530400616           1   2024-05-24                 5  2024  24  audience_city               Karab√ºk, Karab√ºk Province    0.0
4  1784142544451618812024-05-24Rio de Janeiro, Ri...  17841425444516188           1   2024-05-24                 5  2024  24  audience_city  Rio de Janeiro, Rio de Janeiro (state)   24.0

Carregando apenas linnhas que tem valores

In [126]:
FTbAccountLifetimeInsights = FTbAccountLifetimeInsights[FTbAccountLifetimeInsights['value'] != 0]
FTbAccountLifetimeInsights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 335
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 195 non-null    object
 1   id_account         195 non-null    object
 2   id_insight         195 non-null    int64
 3   extract_date       195 non-null    datetime64[ns]
 4   period_extraction  195 non-null    object
 5   year               195 non-null    object
 6   day                195 non-null    object
 7   definicao          195 non-null    object
 8   value_descricao    195 non-null    object
 9   value              195 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 16.8+ KB

In [97]:
FTbAccountLifetimeInsights.drop_duplicates(inplace=True)

Carregando no banco

In [98]:
engine = connect_to_database('DW')
table_name = 'FTbAccountLifetimeInsights'
key_column = 'id'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in FTbAccountLifetimeInsights.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        try:
            if count > 0:
                print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
            else: 
                row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
                print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
        except:
            pass
    connection.commit()
    connection.close()

Registro com id = 1784142544451618812024-05-24S√£o Paulo, S√£o Paulo (state) j√° existe.

Registro com id = 1784141753040061612024-05-24S√£o Paulo, S√£o Paulo (state) j√° existe.
Registro com id = 1784142544451618812024-05-24Karab√ºk, Karab√ºk Province j√° existe.
Registro com id = 1784142544451618812024-05-24Rio de Janeiro, Rio de Janeiro (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Rio de Janeiro, Rio de Janeiro (state) j√° existe.
Registro com id = 1784142544451618812024-05-24Yuma, Arizona j√° existe.
Registro com id = 1784142544451618812024-05-24Edinburg, Texas j√° existe.
Registro com id = 1784142544451618812024-05-24Abington, Pennsylvania j√° existe.
Registro com id = 1784142544451618812024-05-24Sioux Falls, South Dakota j√° existe.
Registro com id = 1784142544451618812024-05-24Macei√≥, Alagoas j√° existe.
Registro com id = 1784142544451618812024-05-24Prague, Prague j√° existe.
Registro com id = 1784142544451618812024-05-24San Jose, California j√° existe.
Registro com id = 1784142544451618812024-05-24Redford, Michigan j√° existe.
Registro com id = 1784142544451618812024-05-24Tr√™s Rios, Rio de Janeiro (state) j√° existe.
Registro com id = 1784142544451618812024-05-24Gilbert, Arizona j√° existe.
Registro com id = 1784142544451618812024-05-24G√ºzelyurt, Aksaray Province j√° existe.
Registro com id = 1784142544451618812024-05-24Cianorte, Paran√° j√° existe.
Registro com id = 1784142544451618812024-05-24Recife, Pernambuco j√° existe.
Registro com id = 1784142544451618812024-05-24Des Moines, Iowa j√° existe.
Registro com id = 1784142544451618812024-05-24Manchester, New Hampshire j√° existe.
Registro com id = 1784142544451618812024-05-24Grand Rapids, Michigan j√° existe.
Registro com id = 1784142544451618812024-05-24Guarulhos, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Guarulhos, S√£o Paulo (state) j√° existe.
Registro com id = 1784142544451618812024-05-24Las Vegas, Nevada j√° existe.
Registro com id = 1784142544451618812024-05-24El Monte, California j√° existe.
Registro com id = 1784142544451618812024-05-24Topeka, Kansas j√° existe.
Registro com id = 1784142544451618812024-05-24Konya, Konya Province j√° existe.
Registro com id = 1784142544451618812024-05-24Araruna, Paran√° j√° existe.
Registro com id = 1784142544451618812024-05-24Junction City, Kansas j√° existe.
Registro com id = 1784142544451618812024-05-24Eskipazar, Karab√ºk Province j√° existe.
Registro com id = 1784142544451618812024-05-24Cape Town, Western Cape j√° existe.
Registro com id = 1784142544451618812024-05-24Sincank√∂y, Ankara Province j√° existe.
Registro com id = 1784142544451618812024-05-24Qom, Markazi Province j√° existe.
Registro com id = 1784142544451618812024-05-24New York, New York j√° existe.
Registro com id = 1784142544451618812024-05-24Beach Park, Illinois j√° existe.
Registro com id = 1784142544451618812024-05-24Fort Wayne, Indiana j√° existe.
Registro com id = 1784142544451618812024-05-24Belo Horizonte, Minas Gerais j√° existe.
Registro com id = 1784142544451618812024-05-24Bel√©m, Par√° j√° existe.
Registro com id = 1784141753040061612024-05-24Ribeir√£o Pr√™to, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Planaltina, Goi√°s j√° existe.
Registro com id = 1784141753040061612024-05-24Barbosa, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Pedro do Rio, Rio de Janeiro (state) j√° existe.
Registro com id = 1784141753040061612024-05-24S√£o Lu√≠s, Maranh√£o j√° existe.
Registro com id = 1784141753040061612024-05-24Nova Friburgo, Rio de Janeiro (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Hong Kong, Hong Kong j√° existe.
Registro com id = 1784141753040061612024-05-24Ipoh, Perak j√° existe.
Registro com id = 1784141753040061612024-05-24Osasco, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Rio Branco, Acre (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Itaipava, Rio de Janeiro (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Londrina, Paran√° j√° existe.
Registro com id = 1784141753040061612024-05-24Bras√≠lia, Federal District j√° existe.
Registro com id = 1784141753040061612024-05-24Sorocaba, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Sobradinho, Federal District j√° existe.
Registro com id = 1784141753040061612024-05-24S√£o Bernardo do Campo, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Natal, Rio Grande do Norte j√° existe.
Registro com id = 1784141753040061612024-05-24P√¥rto Uni√£o, Santa Catarina j√° existe.
Registro com id = 1784141753040061612024-05-24Salvador, Bahia j√° existe.
Registro com id = 1784141753040061612024-05-24Hunters Creek, Florida j√° existe.
Registro com id = 1784141753040061612024-05-24Petr√≥polis, Rio de Janeiro (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Port√£o, Rio Grande do Sul j√° existe.
Registro com id = 1784141753040061612024-05-24Alvorada, Rio Grande do Sul j√° existe.
Registro com id = 1784141753040061612024-05-24Itabuna, Bahia j√° existe.
Registro com id = 1784141753040061612024-05-24Canoas, Rio Grande do Sul j√° existe.
Registro com id = 1784141753040061612024-05-24Couto de Magalh√£es de Minas, Minas Gerais j√° existe.
Registro com id = 1784141753040061612024-05-24Passaic, New Jersey j√° existe.
Registro com id = 1784141753040061612024-05-24S√£o Caitano, Pernambuco j√° existe.
Registro com id = 1784141753040061612024-05-24Suzano, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Boston, Massachusetts j√° existe.
Registro com id = 1784141753040061612024-05-24Campinas, S√£o Paulo (state) j√° existe.
Registro com id = 1784141753040061612024-05-24Tulc√°n, Carchi Province j√° existe.
Registro com id = 1784141753040061612024-05-24Itaperuna, Rio de Janeiro (state) j√° existe.
Registro com id = 1784142544451618832024-05-24F.13-17 j√° existe.
Registro com id = 1784142544451618832024-05-24F.18-24 j√° existe.
Registro com id = 1784141753040061632024-05-24F.18-24 j√° existe.
Registro com id = 1784142544451618832024-05-24F.25-34 j√° existe.
Registro com id = 1784141753040061632024-05-24F.25-34 j√° existe.
Registro com id = 1784142544451618832024-05-24F.35-44 j√° existe.
Registro com id = 1784141753040061632024-05-24F.35-44 j√° existe.
Registro com id = 1784142544451618832024-05-24F.45-54 j√° existe.
Registro com id = 1784141753040061632024-05-24F.45-54 j√° existe.
Registro com id = 1784142544451618832024-05-24F.55-64 j√° existe.
Registro com id = 1784141753040061632024-05-24F.55-64 j√° existe.
Registro com id = 1784142544451618832024-05-24F.65+ j√° existe.
Registro com id = 1784141753040061632024-05-24F.65+ j√° existe.
Registro com id = 1784142544451618832024-05-24M.13-17 j√° existe.
Registro com id = 1784141753040061632024-05-24M.13-17 j√° existe.
Registro com id = 1784142544451618832024-05-24M.18-24 j√° existe.
Registro com id = 1784141753040061632024-05-24M.18-24 j√° existe.
Registro com id = 1784142544451618832024-05-24M.25-34 j√° existe.
Registro com id = 1784141753040061632024-05-24M.25-34 j√° existe.
Registro com id = 1784142544451618832024-05-24M.35-44 j√° existe.
Registro com id = 1784141753040061632024-05-24M.35-44 j√° existe.
Registro com id = 1784142544451618832024-05-24M.45-54 j√° existe.
Registro com id = 1784141753040061632024-05-24M.45-54 j√° existe.
Registro com id = 1784142544451618832024-05-24M.55-64 j√° existe.
Registro com id = 1784141753040061632024-05-24M.55-64 j√° existe.
Registro com id = 1784142544451618832024-05-24M.65+ j√° existe.
Registro com id = 1784141753040061632024-05-24M.65+ j√° existe.
Registro com id = 1784142544451618832024-05-24U.13-17 j√° existe.
Registro com id = 1784142544451618832024-05-24U.18-24 j√° existe.
Registro com id = 1784141753040061632024-05-24U.18-24 j√° existe.
Registro com id = 1784142544451618832024-05-24U.25-34 j√° existe.
Registro com id = 1784141753040061632024-05-24U.25-34 j√° existe.
Registro com id = 1784142544451618832024-05-24U.35-44 j√° existe.
Registro com id = 1784141753040061632024-05-24U.35-44 j√° existe.
Registro com id = 1784142544451618832024-05-24U.45-54 j√° existe.
Registro com id = 1784141753040061632024-05-24U.45-54 j√° existe.
Registro com id = 1784142544451618832024-05-24U.55-64 j√° existe.
Registro com id = 1784141753040061632024-05-24U.55-64 j√° existe.
Registro com id = 1784142544451618842024-05-24el_GR j√° existe.
Registro com id = 1784142544451618842024-05-24it_IT j√° existe.
Registro com id = 1784142544451618842024-05-24ru_RU j√° existe.
Registro com id = 1784142544451618842024-05-24pl_PL j√° existe.
Registro com id = 1784142544451618842024-05-24ro_RO j√° existe.
Registro com id = 1784142544451618842024-05-24be_BY j√° existe.
Registro com id = 1784142544451618842024-05-24tr_TR j√° existe.
Registro com id = 1784142544451618842024-05-24id_ID j√° existe.
Registro com id = 1784142544451618842024-05-24en_AS j√° existe.
Registro com id = 1784142544451618842024-05-24tl_PH j√° existe.
Registro com id = 1784142544451618842024-05-24pt_BR j√° existe.
Registro com id = 1784141753040061642024-05-24pt_BR j√° existe.
Registro com id = 1784142544451618842024-05-24he_IL j√° existe.
Registro com id = 1784142544451618842024-05-24fr_FR j√° existe.
Registro com id = 1784142544451618842024-05-24cs_CZ j√° existe.
Registro com id = 1784142544451618842024-05-24hu_HU j√° existe.
Registro com id = 1784142544451618842024-05-24es_SV j√° existe.
Registro com id = 1784142544451618842024-05-24ky_KG j√° existe.
Registro com id = 1784142544451618842024-05-24de_CH j√° existe.
Registro com id = 1784142544451618842024-05-24lo_LA j√° existe.
Registro com id = 1784142544451618842024-05-24es_MX j√° existe.
Registro com id = 1784142544451618842024-05-24sk_SK j√° existe.
Registro com id = 1784142544451618842024-05-24es_ES j√° existe.
Registro com id = 1784142544451618842024-05-24es_CL j√° existe.
Registro com id = 1784142544451618842024-05-24nl_NL j√° existe.
Registro com id = 1784142544451618842024-05-24en_NZ j√° existe.
Registro com id = 1784142544451618842024-05-24sv_SE j√° existe.
Registro com id = 1784142544451618842024-05-24fa_IR j√° existe.
Registro com id = 1784142544451618842024-05-24mk_MK j√° existe.
Registro com id = 1784142544451618842024-05-24en_IE j√° existe.
Registro com id = 1784142544451618842024-05-24fi_FI j√° existe.
Registro com id = 1784142544451618842024-05-24es_HN j√° existe.
Registro com id = 1784142544451618842024-05-24en_GB j√° existe.
Registro com id = 1784141753040061642024-05-24en_GB j√° existe.
Registro com id = 1784142544451618842024-05-24en_US j√° existe.
Registro com id = 1784141753040061642024-05-24en_US j√° existe.
Registro com id = 1784142544451618842024-05-24lv_LV j√° existe.
Registro com id = 1784142544451618842024-05-24en_IN j√° existe.
Registro com id = 1784142544451618842024-05-24kk_KZ j√° existe.
Registro com id = 1784142544451618842024-05-24zh_CN j√° existe.
Registro com id = 1784142544451618842024-05-24ar_AE j√° existe.
Registro com id = 1784142544451618842024-05-24pt_PT j√° existe.
Registro com id = 1784141753040061642024-05-24es_LA j√° existe.
Registro com id = 1784142544451618822024-05-24DE j√° existe.
Registro com id = 1784142544451618822024-05-24BD j√° existe.
Registro com id = 1784142544451618822024-05-24RU j√° existe.
Registro com id = 1784142544451618822024-05-24PT j√° existe.
Registro com id = 1784142544451618822024-05-24RW j√° existe.
Registro com id = 1784142544451618822024-05-24FR j√° existe.
Registro com id = 1784142544451618822024-05-24NZ j√° existe.
Registro com id = 1784142544451618822024-05-24BR j√° existe.
Registro com id = 1784141753040061622024-05-24BR j√° existe.
Registro com id = 1784142544451618822024-05-24SG j√° existe.
Registro com id = 1784142544451618822024-05-24BY j√° existe.
Registro com id = 1784142544451618822024-05-24GB j√° existe.
Registro com id = 1784142544451618822024-05-24US j√° existe.
Registro com id = 1784141753040061622024-05-24US j√° existe.
Registro com id = 1784142544451618822024-05-24MM j√° existe.
Registro com id = 1784142544451618822024-05-24AE j√° existe.
Registro com id = 1784142544451618822024-05-24CH j√° existe.
Registro com id = 1784142544451618822024-05-24IN j√° existe.
Registro com id = 1784142544451618822024-05-24ZA j√° existe.
Registro com id = 1784142544451618822024-05-24IR j√° existe.
Registro com id = 1784142544451618822024-05-24MX j√° existe.
Registro com id = 1784142544451618822024-05-24MY j√° existe.
Registro com id = 1784141753040061622024-05-24MY j√° existe.
Registro com id = 1784142544451618822024-05-24AO j√° existe.
Registro com id = 1784142544451618822024-05-24ES j√° existe.
Registro com id = 1784142544451618822024-05-24TH j√° existe.
Registro com id = 1784142544451618822024-05-24AU j√° existe.
Registro com id = 1784142544451618822024-05-24CZ j√° existe.
Registro com id = 1784142544451618822024-05-24NG j√° existe.
Registro com id = 1784142544451618822024-05-24NL j√° existe.
Registro com id = 1784142544451618822024-05-24TR j√° existe.
Registro com id = 1784141753040061622024-05-24HK j√° existe.
Registro com id = 1784141753040061622024-05-24EC j√° existe.

## Tabelas de midias

In [99]:
file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbMedias.csv'
dataset = pd.read_csv(file_path, sep='\t')
FTbMidias = dataset
dataset.head()

   Unnamed: 0         id_account           username         username.1           id_midia  comments_count  like_count media_type                                          media_url                                            caption                  timestamp                                    permalink media_product_type                                      thumbnail_url    shortcode extract_date  period  year  day                id_tb_midia
0           0  17841425444516188  bodemeier.digital  bodemeier.digital  18005273918369940               2          15      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  Voc√™ sabe o que √© um briefing? üìù\n\nüé• Assista ...  2024-02-20 21:19:22+00:00  https://www.instagram.com/reel/C3lW1XkOcfL/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3lW1XkOcfL   2024-05-24       5  2024   24  1800527391836994020240524
1           1  17841425444516188  bodemeier.digital  bodemeier.digital  17846370906157882               1          13      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  Uma grande d√∫vida que voc√™s me perguntam: SOCI...  2024-02-16 21:00:00+00:00  https://www.instagram.com/reel/C3bDRy3uifD/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3bDRy3uifD   2024-05-24       5  2024   24  1784637090615788220240524
2           2  17841425444516188  bodemeier.digital  bodemeier.digital  18002752616172667               0           5      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  ‚ÄúO maior instrumento da globaliza√ß√£o cultural ...  2024-02-10 20:05:55+00:00  https://www.instagram.com/reel/C3Lf9wLOhpf/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3Lf9wLOhpf   2024-05-24       5  2024   24  1800275261617266720240524
3           3  17841425444516188  bodemeier.digital  bodemeier.digital  17971594208670851               0           7      VIDEO                                                NaN  ‚ÄºÔ∏è √â isso que o Instagram prioriza!\n\nAcredit...  2024-02-09 18:00:00+00:00  https://www.instagram.com/reel/C3KvokquZdf/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3KvokquZdf   2024-05-24       5  2024   24  1797159420867085120240524
4           4  17841425444516188  bodemeier.digital  bodemeier.digital  18062694892504235               5           7      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  ‚ú®Aqui est√°: \n\nMas primeiro j√° me segue para ...  2024-02-09 13:00:00+00:00  https://www.instagram.com/reel/C3IK23sudbS/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3IK23sudbS   2024-05-24       5  2024   24  1806269489250423520240524

In [100]:
select_columns = [
    'id_midia',
    'id_account',
    'media_type',
    'media_url',
    'caption',
    'timestamp',
    'permalink',
    'media_product_type',
    'thumbnail_url',
    'shortcode'
]
DTbMidias = dataset[select_columns]
DTbMidias.head()

            id_midia         id_account media_type                                          media_url                                            caption                  timestamp                                    permalink media_product_type                                      thumbnail_url    shortcode
0  18005273918369940  17841425444516188      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  Voc√™ sabe o que √© um briefing? üìù\n\nüé• Assista ...  2024-02-20 21:19:22+00:00  https://www.instagram.com/reel/C3lW1XkOcfL/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3lW1XkOcfL
1  17846370906157882  17841425444516188      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  Uma grande d√∫vida que voc√™s me perguntam: SOCI...  2024-02-16 21:00:00+00:00  https://www.instagram.com/reel/C3bDRy3uifD/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3bDRy3uifD
2  18002752616172667  17841425444516188      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  ‚ÄúO maior instrumento da globaliza√ß√£o cultural ...  2024-02-10 20:05:55+00:00  https://www.instagram.com/reel/C3Lf9wLOhpf/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3Lf9wLOhpf
3  17971594208670851  17841425444516188      VIDEO                                                NaN  ‚ÄºÔ∏è √â isso que o Instagram prioriza!\n\nAcredit...  2024-02-09 18:00:00+00:00  https://www.instagram.com/reel/C3KvokquZdf/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3KvokquZdf
4  18062694892504235  17841425444516188      VIDEO  https://scontent.cdninstagram.com/o1/v/t16/f1/...  ‚ú®Aqui est√°: \n\nMas primeiro j√° me segue para ...  2024-02-09 13:00:00+00:00  https://www.instagram.com/reel/C3IK23sudbS/              REELS  https://scontent.cdninstagram.com/v/t51.29350-...  C3IK23sudbS

Trabalhando a tipagem dos dados

In [101]:
DTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_midia            241 non-null    int64
 1   id_account          241 non-null    int64
 2   media_type          241 non-null    object
 3   media_url           233 non-null    object
 4   caption             240 non-null    object
 5   timestamp           241 non-null    object
 6   permalink           241 non-null    object
 7   media_product_type  241 non-null    object
 8   thumbnail_url       36 non-null     object
 9   shortcode           241 non-null    object
dtypes: int64(2), object(8)
memory usage: 19.0+ KB

In [102]:
# Primeiro, vamos converter as colunas de data para o tipo de dados datetime64
DTbMidias['timestamp'] = pd.to_datetime(DTbMidias['timestamp'])

# Agora, vamos extrair apenas a data (sem a hora) das colunas de data
DTbMidias['timestamp'] = DTbMidias['timestamp'].dt.date

type_columns = {
    'id_midia':  'object',
    'id_account': 'object',
}
DTbMidias = DTbMidias.astype(type_columns)
DTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_midia            241 non-null    object
 1   id_account          241 non-null    object
 2   media_type          241 non-null    object
 3   media_url           233 non-null    object
 4   caption             240 non-null    object
 5   timestamp           241 non-null    object
 6   permalink           241 non-null    object
 7   media_product_type  241 non-null    object
 8   thumbnail_url       36 non-null     object
 9   shortcode           241 non-null    object
dtypes: object(10)
memory usage: 19.0+ KB

C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3074123614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DTbMidias['timestamp'] = pd.to_datetime(DTbMidias['timestamp'])
C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3074123614.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DTbMidias['timestamp'] = DTbMidias['timestamp'].dt.date

Carregando para o banco

In [103]:
engine = connect_to_database('DW')
table_name = 'DTbMidias'
key_column = 'id_midia'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in DTbMidias.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id_midia = 18005273918369940 j√° existe.
Registro com id_midia = 17846370906157882 j√° existe.
Registro com id_midia = 18002752616172667 j√° existe.
Registro com id_midia = 17971594208670851 j√° existe.
Registro com id_midia = 18062694892504235 j√° existe.
Registro com id_midia = 17870243565059503 j√° existe.
Registro com id_midia = 17897388878957061 j√° existe.
Registro com id_midia = 18214911715272967 j√° existe.
Registro com id_midia = 17905338809918494 j√° existe.
Registro com id_midia = 17912491130893668 j√° existe.
Registro com id_midia = 18020750125974446 j√° existe.
Registro com id_midia = 17869447275058315 j√° existe.
Registro com id_midia = 18030343753699664 j√° existe.
Registro com id_midia = 18012618164496765 j√° existe.
Registro com id_midia = 18020150257990451 j√° existe.
Registro com id_midia = 18024592819898084 j√° existe.
Registro com id_midia = 17997324461240753 j√° existe.
Registro com id_midia = 17982183917471535 j√° existe.
Registro com id_midia = 17873173155025720 j√° existe.
Registro com id_midia = 17892179540901363 j√° existe.
Registro com id_midia = 17953225589736051 j√° existe.
Registro com id_midia = 18039366277634967 j√° existe.
Registro com id_midia = 18034865689681990 j√° existe.
Registro com id_midia = 18091892248364995 j√° existe.
Registro com id_midia = 17950801427740207 j√° existe.
Registro com id_midia = 18065695549489192 j√° existe.
Registro com id_midia = 18249982000212022 j√° existe.
Registro com id_midia = 18036597331663791 j√° existe.
Registro com id_midia = 17970826016660160 j√° existe.
Registro com id_midia = 17891122685897851 j√° existe.
Registro com id_midia = 18112975201322049 j√° existe.
Registro com id_midia = 18082369435378017 j√° existe.
Registro com id_midia = 18005906753255379 j√° existe.
Registro com id_midia = 18041914348617681 j√° existe.
Registro com id_midia = 17998872359374643 j√° existe.
Registro com id_midia = 18011278775500459 j√° existe.
Registro com id_midia = 17983677587408251 j√° existe.
Registro com id_midia = 18276264910162723 j√° existe.
Registro com id_midia = 18149116891307761 j√° existe.
Registro com id_midia = 18005078747253576 j√° existe.
Registro com id_midia = 17996237798221062 j√° existe.
Registro com id_midia = 18014754566080141 j√° existe.
Registro com id_midia = 18028826005693449 j√° existe.
Registro com id_midia = 18032981563739916 j√° existe.
Registro com id_midia = 18326579032099902 j√° existe.
Registro com id_midia = 18006275992961972 j√° existe.
Registro com id_midia = 18032597344644097 j√° existe.
Registro com id_midia = 17980478672546161 j√° existe.
Registro com id_midia = 17858799921017149 j√° existe.
Registro com id_midia = 17927529029789580 j√° existe.
Registro com id_midia = 18112835173336935 j√° existe.
Registro com id_midia = 17977771859401472 j√° existe.
Registro com id_midia = 17999631694815784 j√° existe.
Registro com id_midia = 17868068480908352 j√° existe.
Registro com id_midia = 18253789948088468 j√° existe.
Registro com id_midia = 18004555213694855 j√° existe.
Registro com id_midia = 17959106837367775 j√° existe.
Registro com id_midia = 17931493511666511 j√° existe.
Registro com id_midia = 17905789424688961 j√° existe.
Registro com id_midia = 18071375392367766 j√° existe.
Registro com id_midia = 17981861483060238 j√° existe.
Registro com id_midia = 18056375083389968 j√° existe.
Registro com id_midia = 17962949372126268 j√° existe.
Registro com id_midia = 17859108473899553 j√° existe.
Registro com id_midia = 17858492822899311 j√° existe.
Registro com id_midia = 17971307680970855 j√° existe.
Registro com id_midia = 18020007067488032 j√° existe.
Registro com id_midia = 18069312715352556 j√° existe.
Registro com id_midia = 17976421084985001 j√° existe.
Registro com id_midia = 17957530706193660 j√° existe.
Registro com id_midia = 17968820779999389 j√° existe.
Registro com id_midia = 17952003506517561 j√° existe.
Registro com id_midia = 18172394914270979 j√° existe.
Registro com id_midia = 17916484169676926 j√° existe.
Registro com id_midia = 17957620226183109 j√° existe.
Registro com id_midia = 17935132118501780 j√° existe.
Registro com id_midia = 17941955504589562 j√° existe.
Registro com id_midia = 17964572459322841 j√° existe.
Registro com id_midia = 17975602669999778 j√° existe.
Registro com id_midia = 17969867627113386 j√° existe.
Registro com id_midia = 17980419661785716 j√° existe.
Registro com id_midia = 17985627235816479 j√° existe.
Registro com id_midia = 17936678435580317 j√° existe.
Registro com id_midia = 17979201958875857 j√° existe.
Registro com id_midia = 17978190145738391 j√° existe.
Registro com id_midia = 18239417728149649 j√° existe.
Registro com id_midia = 17970852493869455 j√° existe.
Registro com id_midia = 17959315073184315 j√° existe.
Registro com id_midia = 17882491601719459 j√° existe.
Registro com id_midia = 17858477921823537 j√° existe.
Registro com id_midia = 17990323756717997 j√° existe.
Registro com id_midia = 17946312491417976 j√° existe.
Registro com id_midia = 17998050277570171 j√° existe.
Registro com id_midia = 18226663675081792 j√° existe.
Registro com id_midia = 17877950102736621 j√° existe.
Registro com id_midia = 18221211739167519 j√° existe.
Registro com id_midia = 17945375882417545 j√° existe.
Registro com id_midia = 17974769974769563 j√° existe.
Registro com id_midia = 17961285041137957 j√° existe.
Registro com id_midia = 17931701453556758 j√° existe.
Registro com id_midia = 17972200513936539 j√° existe.
Registro com id_midia = 18337501048046447 j√° existe.
Registro com id_midia = 18014406560219838 j√° existe.
Registro com id_midia = 18036730186652355 j√° existe.
Registro com id_midia = 17926144523730968 j√° existe.
Registro com id_midia = 17952648479723484 j√° existe.
Registro com id_midia = 18012911482864852 j√° existe.
Registro com id_midia = 18015261277785871 j√° existe.
Registro com id_midia = 18213009469271569 j√° existe.
Registro com id_midia = 17874981800973868 j√° existe.
Registro com id_midia = 18316677496102466 j√° existe.
Registro com id_midia = 18049683463435392 j√° existe.
Registro com id_midia = 17993063657129058 j√° existe.
Registro com id_midia = 18026225206521222 j√° existe.
Registro com id_midia = 18242719579162133 j√° existe.
Registro com id_midia = 17960339570278289 j√° existe.
Registro com id_midia = 17974803809001845 j√° existe.
Registro com id_midia = 17960786498151110 j√° existe.
Registro com id_midia = 17961863900260865 j√° existe.
Registro com id_midia = 18013823218506209 j√° existe.
Registro com id_midia = 17911611266690525 j√° existe.
Registro com id_midia = 17948212469455957 j√° existe.
Registro com id_midia = 18196692265234329 j√° existe.
Registro com id_midia = 17853242561859491 j√° existe.
Registro com id_midia = 17916065960527094 j√° existe.
Registro com id_midia = 18000610999480101 j√° existe.
Registro com id_midia = 18321807307026238 j√° existe.
Registro com id_midia = 17926991318529061 j√° existe.
Registro com id_midia = 17940026405371937 j√° existe.
Registro com id_midia = 17947981679145249 j√° existe.
Registro com id_midia = 17932358189417551 j√° existe.
Registro com id_midia = 18187036339169530 j√° existe.
Registro com id_midia = 18236981563139978 j√° existe.
Registro com id_midia = 17953264603846727 j√° existe.
Registro com id_midia = 17862190370692608 j√° existe.
Registro com id_midia = 17954383246683572 j√° existe.
Registro com id_midia = 18133458787270377 j√° existe.
Registro com id_midia = 17945265712772588 j√° existe.
Registro com id_midia = 18213470449131580 j√° existe.
Registro com id_midia = 17970845923543840 j√° existe.
Registro com id_midia = 17914841513381552 j√° existe.
Registro com id_midia = 17934179573069230 j√° existe.
Registro com id_midia = 17981459218470607 j√° existe.
Registro com id_midia = 17882947799558254 j√° existe.
Registro com id_midia = 17884624751534571 j√° existe.
Registro com id_midia = 18023740003350133 j√° existe.
Registro com id_midia = 17933182687919850 j√° existe.
Registro com id_midia = 17865567998619722 j√° existe.
Registro com id_midia = 17880811877527032 j√° existe.
Registro com id_midia = 18208362235140037 j√° existe.
Registro com id_midia = 17973880342465897 j√° existe.
Registro com id_midia = 17980061662449484 j√° existe.
Registro com id_midia = 17945006698643575 j√° existe.
Registro com id_midia = 17928991276921903 j√° existe.
Registro com id_midia = 17918220128078624 j√° existe.
Registro com id_midia = 17970435478466100 j√° existe.
Registro com id_midia = 18190759345126517 j√° existe.
Registro com id_midia = 17976364516433227 j√° existe.
Registro com id_midia = 17907553739145170 j√° existe.
Registro com id_midia = 17922019213743343 j√° existe.
Registro com id_midia = 17912557675956246 j√° existe.
Registro com id_midia = 17898300758221880 j√° existe.
Registro com id_midia = 17938723957545517 j√° existe.
Registro com id_midia = 17944262803532912 j√° existe.
Registro com id_midia = 17919118954746234 j√° existe.
Registro com id_midia = 18166966012159015 j√° existe.
Registro com id_midia = 17930438608644017 j√° existe.
Registro com id_midia = 17959606150456706 j√° existe.
Registro com id_midia = 17884135559286305 j√° existe.
Registro com id_midia = 18172118893192305 j√° existe.
Registro com id_midia = 17990727517340005 j√° existe.
Registro com id_midia = 17916414283731518 j√° existe.
Registro com id_midia = 17862568826499567 j√° existe.
Registro com id_midia = 18109593337234053 j√° existe.
Registro com id_midia = 18081034294262777 j√° existe.
Registro com id_midia = 17885436989063826 j√° existe.
Registro com id_midia = 17934944071497958 j√° existe.
Registro com id_midia = 17894748154947754 j√° existe.
Registro com id_midia = 17894525791934273 j√° existe.
Registro com id_midia = 18189383356071902 j√° existe.
Registro com id_midia = 17856664250389855 j√° existe.
Registro com id_midia = 17853167885429571 j√° existe.
Registro com id_midia = 17949549271401714 j√° existe.
Registro com id_midia = 17953102537388268 j√° existe.
Registro com id_midia = 18148859299096920 j√° existe.
Registro com id_midia = 17931690514445430 j√° existe.
Registro com id_midia = 17946773869392152 j√° existe.
Registro com id_midia = 18048194953277179 j√° existe.
Registro com id_midia = 17886135952792292 j√° existe.
Registro com id_midia = 17890106815670797 j√° existe.
Registro com id_midia = 17922724927443302 j√° existe.
Registro com id_midia = 18043980709266706 j√° existe.
Registro com id_midia = 17878134508835901 j√° existe.
Registro com id_midia = 17866983838980415 j√° existe.
Registro com id_midia = 17845637282307896 j√° existe.
Registro com id_midia = 17870486677732944 j√° existe.
Registro com id_midia = 17886658597540245 j√° existe.
Registro com id_midia = 17847442276976173 j√° existe.
Registro com id_midia = 17875421290559598 j√° existe.
Registro com id_midia = 17870666989615271 j√° existe.
Registro com id_midia = 17901140251430731 j√° existe.
Registro com id_midia = 17850291151890438 j√° existe.
Registro com id_midia = 18088384498150882 j√° existe.
Registro com id_midia = 17928880285361960 j√° existe.
Registro com id_midia = 18053806465207905 j√° existe.
Registro com id_midia = 17884317529476968 j√° existe.
Registro com id_midia = 17945289106314304 j√° existe.
Registro com id_midia = 17852672644737380 j√° existe.
Registro com id_midia = 17939140861325755 j√° existe.
Registro com id_midia = 17866675474571470 j√° existe.
Registro com id_midia = 17849511208756089 j√° existe.
Registro com id_midia = 17878323991480908 j√° existe.
Registro com id_midia = 17898584881410612 j√° existe.
Registro com id_midia = 18113966530018838 j√° existe.
Registro com id_midia = 17852434909622676 j√° existe.
Registro com id_midia = 18105983989058253 j√° existe.
Registro com id_midia = 17859155707543078 j√° existe.
Registro com id_midia = 17964637774290763 j√° existe.
Registro com id_midia = 17926469686323946 j√° existe.
Registro com id_midia = 17923856191322773 j√° existe.
Registro com id_midia = 17910138085361525 j√° existe.
Registro com id_midia = 17887651438412591 j√° existe.
Registro com id_midia = 17852371348590736 j√° existe.
Registro com id_midia = 17988974095276227 j√° existe.
Registro com id_midia = 18100257601044469 j√° existe.
Registro com id_midia = 17849482372605373 j√° existe.
Registro com id_midia = 18062893174148075 j√° existe.
Registro com id_midia = 17847098539602758 j√° existe.
Registro com id_midia = 17847530503583685 j√° existe.
Registro com id_midia = 17910130867340475 j√° existe.
Registro com id_midia = 18074783764101369 j√° existe.
Registro com id_midia = 18073111945113642 j√° existe.
Registro com id_midia = 17910853738340379 j√° existe.
Registro com id_midia = 17843670973604418 j√° existe.
Registro com id_midia = 17868340786451289 j√° existe.
Registro com id_midia = 18013289950233972 j√° existe.
Registro com id_midia = 17911609687335240 j√° existe.
Registro com id_midia = 18013011574231998 j√° existe.
Registro com id_midia = 18043780708198048 j√° existe.
Registro com id_midia = 17846846170552086 j√° existe.
Registro com id_midia = 18053346796158304 j√° existe.

## Tabela de Stories (Tamb√©m carrega a tabela de DTbMidias)

In [104]:
file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbStories.csv'
dataset = pd.read_csv(file_path, sep='\t')
stories = dataset
dataset.head()

   Unnamed: 0           id_midia  comments_count  like_count media_type                                          media_url             caption                  timestamp                                          permalink media_product_type    shortcode   username         id_account username.1 extract_date  period  year  day                id_tb_midia
0           0  18029303027098233             0.0         0.0      IMAGE  https://scontent.cdninstagram.com/v/t51.29350-...  @carolinebodemeier  2024-05-23 10:14:38+00:00  https://instagram.com/stories/gabgalani/337422...              STORY  C7Tqf9UuJmY  gabgalani  17841417530400616  gabgalani   2024-05-23       5  2024   23  1802930302709823320240523

Selecionando as colunas

In [105]:
select_columns = [
    'id_midia',
    'id_account',
    'media_type',
    'media_url',
    'caption',
    'timestamp',
    'permalink',
    'media_product_type',
    'thumbnail_url',
    'shortcode'
]

if 'thumbnail_url' not in dataset.columns:
    dataset['thumbnail_url'] = pd.Series(dtype=object)

DTbMidias = dataset[select_columns]
dataset.head()

   Unnamed: 0           id_midia  comments_count  like_count media_type                                          media_url             caption                  timestamp                                          permalink media_product_type    shortcode   username         id_account username.1 extract_date  period  year  day                id_tb_midia thumbnail_url
0           0  18029303027098233             0.0         0.0      IMAGE  https://scontent.cdninstagram.com/v/t51.29350-...  @carolinebodemeier  2024-05-23 10:14:38+00:00  https://instagram.com/stories/gabgalani/337422...              STORY  C7Tqf9UuJmY  gabgalani  17841417530400616  gabgalani   2024-05-23       5  2024   23  1802930302709823320240523           NaN

Trabalhando a tipagem dos dados

In [106]:
DTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_midia            1 non-null      int64
 1   id_account          1 non-null      int64
 2   media_type          1 non-null      object
 3   media_url           1 non-null      object
 4   caption             1 non-null      object
 5   timestamp           1 non-null      object
 6   permalink           1 non-null      object
 7   media_product_type  1 non-null      object
 8   thumbnail_url       0 non-null      object
 9   shortcode           1 non-null      object
dtypes: int64(2), object(8)
memory usage: 212.0+ bytes

In [107]:
# Primeiro, vamos converter as colunas de data para o tipo de dados datetime64
DTbMidias['timestamp'] = pd.to_datetime(DTbMidias['timestamp'])

# Agora, vamos extrair apenas a data (sem a hora) das colunas de data
DTbMidias['timestamp'] = DTbMidias['timestamp'].dt.date

type_columns = {
    'id_midia':  'object',
    'id_account': 'object',
}
DTbMidias = DTbMidias.astype(type_columns)
DTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_midia            1 non-null      object
 1   id_account          1 non-null      object
 2   media_type          1 non-null      object
 3   media_url           1 non-null      object
 4   caption             1 non-null      object
 5   timestamp           1 non-null      object
 6   permalink           1 non-null      object
 7   media_product_type  1 non-null      object
 8   thumbnail_url       0 non-null      object
 9   shortcode           1 non-null      object
dtypes: object(10)
memory usage: 212.0+ bytes

C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3074123614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DTbMidias['timestamp'] = pd.to_datetime(DTbMidias['timestamp'])
C:\Users\gabri\AppData\Local\Temp\ipykernel_18000\3074123614.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DTbMidias['timestamp'] = DTbMidias['timestamp'].dt.date

In [108]:
engine = connect_to_database('DW')
table_name = 'DTbMidias'
key_column = 'id_midia'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in DTbMidias.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id_midia = 18029303027098233 j√° existe.

## Tb FTbMidias

Vou unir o dataframe da TbMidas e dos stories para subir na mesa tabela pois ambos se tratam de midas

Vou normalizar as colunas de ambos os dfs

In [109]:
FTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          241 non-null    int64
 1   id_account          241 non-null    int64
 2   username            241 non-null    object
 3   username.1          241 non-null    object
 4   id_midia            241 non-null    int64
 5   comments_count      241 non-null    int64
 6   like_count          241 non-null    int64
 7   media_type          241 non-null    object
 8   media_url           233 non-null    object
 9   caption             240 non-null    object
 10  timestamp           241 non-null    object
 11  permalink           241 non-null    object
 12  media_product_type  241 non-null    object
 13  thumbnail_url       36 non-null     object
 14  shortcode           241 non-null    object
 15  extract_date        241 non-null    object
 16  period              241 non-null    int64
 17  year                241 non-null    int64
 18  day                 241 non-null    int64
 19  id_tb_midia         241 non-null    object
dtypes: int64(8), object(12)
memory usage: 37.8+ KB

In [110]:
FTbMidias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          241 non-null    int64
 1   id_account          241 non-null    int64
 2   username            241 non-null    object
 3   username.1          241 non-null    object
 4   id_midia            241 non-null    int64
 5   comments_count      241 non-null    int64
 6   like_count          241 non-null    int64
 7   media_type          241 non-null    object
 8   media_url           233 non-null    object
 9   caption             240 non-null    object
 10  timestamp           241 non-null    object
 11  permalink           241 non-null    object
 12  media_product_type  241 non-null    object
 13  thumbnail_url       36 non-null     object
 14  shortcode           241 non-null    object
 15  extract_date        241 non-null    object
 16  period              241 non-null    int64
 17  year                241 non-null    int64
 18  day                 241 non-null    int64
 19  id_tb_midia         241 non-null    object
dtypes: int64(8), object(12)
memory usage: 37.8+ KB

In [111]:
select_columns = [
    'id_midia',
    'id_account',
    'comments_count',
    'like_count',
    'extract_date',
    'period',
    'year',
    'day'
]

df_1 = FTbMidias[select_columns]
df_2 = stories[select_columns]
FTbMidias__ = pd.concat([df_1, df_2], ignore_index=True)
FTbMidias__.head()

            id_midia         id_account  comments_count  like_count extract_date  period  year  day
0  18005273918369940  17841425444516188             2.0        15.0   2024-05-24       5  2024   24
1  17846370906157882  17841425444516188             1.0        13.0   2024-05-24       5  2024   24
2  18002752616172667  17841425444516188             0.0         5.0   2024-05-24       5  2024   24
3  17971594208670851  17841425444516188             0.0         7.0   2024-05-24       5  2024   24
4  18062694892504235  17841425444516188             5.0         7.0   2024-05-24       5  2024   24

Fazendo a coluna de ID

In [112]:
FTbMidias__['id'] = FTbMidias__['id_midia'].astype(str) + \
    FTbMidias__['id_account'].astype(str) + FTbMidias__['year'].astype(str) \
          + FTbMidias__['period'].astype(str) + FTbMidias__['day'].astype(str)
FTbMidias__ = FTbMidias__[['id','id_midia', 'id_account', 'comments_count', 'like_count', 'extract_date', 'period', 'year', 'day']]
FTbMidias__.head()

                                          id           id_midia         id_account  comments_count  like_count extract_date  period  year  day
0  18005273918369940178414254445161882024524  18005273918369940  17841425444516188             2.0        15.0   2024-05-24       5  2024   24
1  17846370906157882178414254445161882024524  17846370906157882  17841425444516188             1.0        13.0   2024-05-24       5  2024   24
2  18002752616172667178414254445161882024524  18002752616172667  17841425444516188             0.0         5.0   2024-05-24       5  2024   24
3  17971594208670851178414254445161882024524  17971594208670851  17841425444516188             0.0         7.0   2024-05-24       5  2024   24
4  18062694892504235178414254445161882024524  18062694892504235  17841425444516188             5.0         7.0   2024-05-24       5  2024   24

Tipagem dos dados

In [113]:
FTbMidias__.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              242 non-null    object
 1   id_midia        242 non-null    int64
 2   id_account      242 non-null    int64
 3   comments_count  242 non-null    float64
 4   like_count      242 non-null    float64
 5   extract_date    242 non-null    object
 6   period          242 non-null    int64
 7   year            242 non-null    int64
 8   day             242 non-null    int64
dtypes: float64(2), int64(5), object(2)
memory usage: 17.1+ KB

In [114]:
FTbMidias__['extract_date'] = pd.to_datetime(FTbMidias__['extract_date'])
FTbMidias__['extract_date'] = FTbMidias__['extract_date'].dt.date

type_columns = {
    'id_midia': 'object',
    'id_account': 'object',
    'comments_count': 'int',
    'like_count': 'int',
    'period': 'object',
    'year': 'object',
    'day': 'object'
}

FTbMidias__ = FTbMidias__.astype(type_columns)
FTbMidias__.head()

                                          id           id_midia         id_account  comments_count  like_count extract_date period  year day
0  18005273918369940178414254445161882024524  18005273918369940  17841425444516188               2          15   2024-05-24      5  2024  24
1  17846370906157882178414254445161882024524  17846370906157882  17841425444516188               1          13   2024-05-24      5  2024  24
2  18002752616172667178414254445161882024524  18002752616172667  17841425444516188               0           5   2024-05-24      5  2024  24
3  17971594208670851178414254445161882024524  17971594208670851  17841425444516188               0           7   2024-05-24      5  2024  24
4  18062694892504235178414254445161882024524  18062694892504235  17841425444516188               5           7   2024-05-24      5  2024  24

In [115]:
engine = connect_to_database('DW')
table_name = 'FTbMidias'
key_column = 'id'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in FTbMidias__.iterrows():
        query = text(f"select count(*) from {table_name} WHERE {key_column} = :value")
        result = connection.execute(query, parameters=dict(value=row[key_column]))
        count = result.scalar()

        if count > 0:
            print(f'Registro com {key_column} = {row[key_column]} j√° existe.')
        else: 
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()
    connection.close()

Registro com id = 18005273918369940178414254445161882024524 j√° existe.
Registro com id = 17846370906157882178414254445161882024524 j√° existe.
Registro com id = 18002752616172667178414254445161882024524 j√° existe.
Registro com id = 17971594208670851178414254445161882024524 j√° existe.
Registro com id = 18062694892504235178414254445161882024524 j√° existe.
Registro com id = 17870243565059503178414254445161882024524 j√° existe.
Registro com id = 17897388878957061178414254445161882024524 j√° existe.
Registro com id = 18214911715272967178414254445161882024524 j√° existe.
Registro com id = 17905338809918494178414254445161882024524 j√° existe.
Registro com id = 17912491130893668178414254445161882024524 j√° existe.
Registro com id = 18020750125974446178414254445161882024524 j√° existe.
Registro com id = 17869447275058315178414254445161882024524 j√° existe.
Registro com id = 18030343753699664178414254445161882024524 j√° existe.
Registro com id = 18012618164496765178414254445161882024524 j√° existe.
Registro com id = 18020150257990451178414254445161882024524 j√° existe.
Registro com id = 18024592819898084178414254445161882024524 j√° existe.
Registro com id = 17997324461240753178414254445161882024524 j√° existe.
Registro com id = 17982183917471535178414254445161882024524 j√° existe.
Registro com id = 17873173155025720178414254445161882024524 j√° existe.
Registro com id = 17892179540901363178414254445161882024524 j√° existe.
Registro com id = 17953225589736051178414254445161882024524 j√° existe.
Registro com id = 18039366277634967178414254445161882024524 j√° existe.
Registro com id = 18034865689681990178414254445161882024524 j√° existe.
Registro com id = 18091892248364995178414254445161882024524 j√° existe.
Registro com id = 17950801427740207178414254445161882024524 j√° existe.
Registro com id = 18065695549489192178414254445161882024524 j√° existe.
Registro com id = 18249982000212022178414254445161882024524 j√° existe.
Registro com id = 18036597331663791178414254445161882024524 j√° existe.
Registro com id = 17970826016660160178414254445161882024524 j√° existe.
Registro com id = 17891122685897851178414254445161882024524 j√° existe.
Registro com id = 18112975201322049178414254445161882024524 j√° existe.
Registro com id = 18082369435378017178414254445161882024524 j√° existe.
Registro com id = 18005906753255379178414254445161882024524 j√° existe.
Registro com id = 18041914348617681178414254445161882024524 j√° existe.
Registro com id = 17998872359374643178414254445161882024524 j√° existe.
Registro com id = 18011278775500459178414254445161882024524 j√° existe.
Registro com id = 17983677587408251178414254445161882024524 j√° existe.
Registro com id = 18276264910162723178414254445161882024524 j√° existe.
Registro com id = 18149116891307761178414254445161882024524 j√° existe.
Registro com id = 18005078747253576178414254445161882024524 j√° existe.
Registro com id = 17996237798221062178414254445161882024524 j√° existe.
Registro com id = 18014754566080141178414254445161882024524 j√° existe.
Registro com id = 18028826005693449178414254445161882024524 j√° existe.
Registro com id = 18032981563739916178414254445161882024524 j√° existe.
Registro com id = 18326579032099902178414254445161882024524 j√° existe.
Registro com id = 18006275992961972178414254445161882024524 j√° existe.
Registro com id = 18032597344644097178414254445161882024524 j√° existe.
Registro com id = 17980478672546161178414254445161882024524 j√° existe.
Registro com id = 17858799921017149178414254445161882024524 j√° existe.
Registro com id = 17927529029789580178414254445161882024524 j√° existe.
Registro com id = 18112835173336935178414254445161882024524 j√° existe.
Registro com id = 17977771859401472178414254445161882024524 j√° existe.
Registro com id = 17999631694815784178414254445161882024524 j√° existe.
Registro com id = 17868068480908352178414254445161882024524 j√° existe.
Registro com id = 18253789948088468178414254445161882024524 j√° existe.
Registro com id = 18004555213694855178414254445161882024524 j√° existe.
Registro com id = 17959106837367775178414254445161882024524 j√° existe.
Registro com id = 17931493511666511178414254445161882024524 j√° existe.
Registro com id = 17905789424688961178414254445161882024524 j√° existe.
Registro com id = 18071375392367766178414254445161882024524 j√° existe.
Registro com id = 17981861483060238178414254445161882024524 j√° existe.
Registro com id = 18056375083389968178414254445161882024524 j√° existe.
Registro com id = 17962949372126268178414254445161882024524 j√° existe.
Registro com id = 17859108473899553178414254445161882024524 j√° existe.
Registro com id = 17858492822899311178414254445161882024524 j√° existe.
Registro com id = 17971307680970855178414254445161882024524 j√° existe.
Registro com id = 18020007067488032178414254445161882024524 j√° existe.
Registro com id = 18069312715352556178414254445161882024524 j√° existe.
Registro com id = 17976421084985001178414254445161882024524 j√° existe.
Registro com id = 17957530706193660178414254445161882024524 j√° existe.
Registro com id = 17968820779999389178414254445161882024524 j√° existe.
Registro com id = 17952003506517561178414254445161882024524 j√° existe.
Registro com id = 18172394914270979178414254445161882024524 j√° existe.
Registro com id = 17916484169676926178414254445161882024524 j√° existe.
Registro com id = 17957620226183109178414254445161882024524 j√° existe.
Registro com id = 17935132118501780178414254445161882024524 j√° existe.
Registro com id = 17941955504589562178414254445161882024524 j√° existe.
Registro com id = 17964572459322841178414254445161882024524 j√° existe.
Registro com id = 17975602669999778178414254445161882024524 j√° existe.
Registro com id = 17969867627113386178414254445161882024524 j√° existe.
Registro com id = 17980419661785716178414254445161882024524 j√° existe.
Registro com id = 17985627235816479178414254445161882024524 j√° existe.
Registro com id = 17936678435580317178414254445161882024524 j√° existe.
Registro com id = 17979201958875857178414254445161882024524 j√° existe.
Registro com id = 17978190145738391178414254445161882024524 j√° existe.
Registro com id = 18239417728149649178414254445161882024524 j√° existe.
Registro com id = 17970852493869455178414254445161882024524 j√° existe.
Registro com id = 17959315073184315178414254445161882024524 j√° existe.
Registro com id = 17882491601719459178414254445161882024524 j√° existe.
Registro com id = 17858477921823537178414254445161882024524 j√° existe.
Registro com id = 17990323756717997178414254445161882024524 j√° existe.
Registro com id = 17946312491417976178414254445161882024524 j√° existe.
Registro com id = 17998050277570171178414254445161882024524 j√° existe.
Registro com id = 18226663675081792178414254445161882024524 j√° existe.
Registro com id = 17877950102736621178414254445161882024524 j√° existe.
Registro com id = 18221211739167519178414254445161882024524 j√° existe.

Registro com id = 17945375882417545178414254445161882024524 j√° existe.
Registro com id = 17974769974769563178414254445161882024524 j√° existe.
Registro com id = 17961285041137957178414254445161882024524 j√° existe.
Registro com id = 17931701453556758178414254445161882024524 j√° existe.
Registro com id = 17972200513936539178414254445161882024524 j√° existe.
Registro com id = 18337501048046447178414254445161882024524 j√° existe.
Registro com id = 18014406560219838178414175304006162024524 j√° existe.
Registro com id = 18036730186652355178414175304006162024524 j√° existe.
Registro com id = 17926144523730968178414175304006162024524 j√° existe.
Registro com id = 17952648479723484178414175304006162024524 j√° existe.
Registro com id = 18012911482864852178414175304006162024524 j√° existe.
Registro com id = 18015261277785871178414175304006162024524 j√° existe.
Registro com id = 18213009469271569178414175304006162024524 j√° existe.
Registro com id = 17874981800973868178414175304006162024524 j√° existe.
Registro com id = 18316677496102466178414175304006162024524 j√° existe.
Registro com id = 18049683463435392178414175304006162024524 j√° existe.
Registro com id = 17993063657129058178414175304006162024524 j√° existe.
Registro com id = 18026225206521222178414175304006162024524 j√° existe.
Registro com id = 18242719579162133178414175304006162024524 j√° existe.
Registro com id = 17960339570278289178414175304006162024524 j√° existe.
Registro com id = 17974803809001845178414175304006162024524 j√° existe.
Registro com id = 17960786498151110178414175304006162024524 j√° existe.
Registro com id = 17961863900260865178414175304006162024524 j√° existe.
Registro com id = 18013823218506209178414175304006162024524 j√° existe.
Registro com id = 17911611266690525178414175304006162024524 j√° existe.
Registro com id = 17948212469455957178414175304006162024524 j√° existe.
Registro com id = 18196692265234329178414175304006162024524 j√° existe.
Registro com id = 17853242561859491178414175304006162024524 j√° existe.
Registro com id = 17916065960527094178414175304006162024524 j√° existe.
Registro com id = 18000610999480101178414175304006162024524 j√° existe.
Registro com id = 18321807307026238178414175304006162024524 j√° existe.
Registro com id = 17926991318529061178414175304006162024524 j√° existe.
Registro com id = 17940026405371937178414175304006162024524 j√° existe.
Registro com id = 17947981679145249178414175304006162024524 j√° existe.
Registro com id = 17932358189417551178414175304006162024524 j√° existe.
Registro com id = 18187036339169530178414175304006162024524 j√° existe.
Registro com id = 18236981563139978178414175304006162024524 j√° existe.
Registro com id = 17953264603846727178414175304006162024524 j√° existe.
Registro com id = 17862190370692608178414175304006162024524 j√° existe.
Registro com id = 17954383246683572178414175304006162024524 j√° existe.
Registro com id = 18133458787270377178414175304006162024524 j√° existe.
Registro com id = 17945265712772588178414175304006162024524 j√° existe.
Registro com id = 18213470449131580178414175304006162024524 j√° existe.
Registro com id = 17970845923543840178414175304006162024524 j√° existe.
Registro com id = 17914841513381552178414175304006162024524 j√° existe.
Registro com id = 17934179573069230178414175304006162024524 j√° existe.
Registro com id = 17981459218470607178414175304006162024524 j√° existe.
Registro com id = 17882947799558254178414175304006162024524 j√° existe.
Registro com id = 17884624751534571178414175304006162024524 j√° existe.
Registro com id = 18023740003350133178414175304006162024524 j√° existe.
Registro com id = 17933182687919850178414175304006162024524 j√° existe.
Registro com id = 17865567998619722178414175304006162024524 j√° existe.
Registro com id = 17880811877527032178414175304006162024524 j√° existe.
Registro com id = 18208362235140037178414175304006162024524 j√° existe.
Registro com id = 17973880342465897178414175304006162024524 j√° existe.
Registro com id = 17980061662449484178414175304006162024524 j√° existe.
Registro com id = 17945006698643575178414175304006162024524 j√° existe.
Registro com id = 17928991276921903178414175304006162024524 j√° existe.
Registro com id = 17918220128078624178414175304006162024524 j√° existe.
Registro com id = 17970435478466100178414175304006162024524 j√° existe.
Registro com id = 18190759345126517178414175304006162024524 j√° existe.
Registro com id = 17976364516433227178414175304006162024524 j√° existe.
Registro com id = 17907553739145170178414175304006162024524 j√° existe.
Registro com id = 17922019213743343178414175304006162024524 j√° existe.
Registro com id = 17912557675956246178414175304006162024524 j√° existe.
Registro com id = 17898300758221880178414175304006162024524 j√° existe.
Registro com id = 17938723957545517178414175304006162024524 j√° existe.
Registro com id = 17944262803532912178414175304006162024524 j√° existe.
Registro com id = 17919118954746234178414175304006162024524 j√° existe.
Registro com id = 18166966012159015178414175304006162024524 j√° existe.
Registro com id = 17930438608644017178414175304006162024524 j√° existe.
Registro com id = 17959606150456706178414175304006162024524 j√° existe.
Registro com id = 17884135559286305178414175304006162024524 j√° existe.
Registro com id = 18172118893192305178414175304006162024524 j√° existe.
Registro com id = 17990727517340005178414175304006162024524 j√° existe.
Registro com id = 17916414283731518178414175304006162024524 j√° existe.
Registro com id = 17862568826499567178414175304006162024524 j√° existe.
Registro com id = 18109593337234053178414175304006162024524 j√° existe.
Registro com id = 18081034294262777178414175304006162024524 j√° existe.
Registro com id = 17885436989063826178414175304006162024524 j√° existe.
Registro com id = 17934944071497958178414175304006162024524 j√° existe.
Registro com id = 17894748154947754178414175304006162024524 j√° existe.
Registro com id = 17894525791934273178414175304006162024524 j√° existe.
Registro com id = 18189383356071902178414175304006162024524 j√° existe.
Registro com id = 17856664250389855178414175304006162024524 j√° existe.
Registro com id = 17853167885429571178414175304006162024524 j√° existe.
Registro com id = 17949549271401714178414175304006162024524 j√° existe.
Registro com id = 17953102537388268178414175304006162024524 j√° existe.
Registro com id = 18148859299096920178414175304006162024524 j√° existe.
Registro com id = 17931690514445430178414175304006162024524 j√° existe.
Registro com id = 17946773869392152178414175304006162024524 j√° existe.
Registro com id = 18048194953277179178414175304006162024524 j√° existe.
Registro com id = 17886135952792292178414175304006162024524 j√° existe.
Registro com id = 17890106815670797178414175304006162024524 j√° existe.
Registro com id = 17922724927443302178414175304006162024524 j√° existe.
Registro com id = 18043980709266706178414175304006162024524 j√° existe.
Registro com id = 17878134508835901178414175304006162024524 j√° existe.
Registro com id = 17866983838980415178414175304006162024524 j√° existe.
Registro com id = 17845637282307896178414175304006162024524 j√° existe.
Registro com id = 17870486677732944178414175304006162024524 j√° existe.
Registro com id = 17886658597540245178414175304006162024524 j√° existe.
Registro com id = 17847442276976173178414175304006162024524 j√° existe.
Registro com id = 17875421290559598178414175304006162024524 j√° existe.
Registro com id = 17870666989615271178414175304006162024524 j√° existe.
Registro com id = 17901140251430731178414175304006162024524 j√° existe.
Registro com id = 17850291151890438178414175304006162024524 j√° existe.
Registro com id = 18088384498150882178414175304006162024524 j√° existe.
Registro com id = 17928880285361960178414175304006162024524 j√° existe.
Registro com id = 18053806465207905178414175304006162024524 j√° existe.
Registro com id = 17884317529476968178414175304006162024524 j√° existe.
Registro com id = 17945289106314304178414175304006162024524 j√° existe.
Registro com id = 17852672644737380178414175304006162024524 j√° existe.
Registro com id = 17939140861325755178414175304006162024524 j√° existe.
Registro com id = 17866675474571470178414175304006162024524 j√° existe.
Registro com id = 17849511208756089178414175304006162024524 j√° existe.
Registro com id = 17878323991480908178414175304006162024524 j√° existe.
Registro com id = 17898584881410612178414175304006162024524 j√° existe.
Registro com id = 18113966530018838178414175304006162024524 j√° existe.
Registro com id = 17852434909622676178414175304006162024524 j√° existe.
Registro com id = 18105983989058253178414175304006162024524 j√° existe.
Registro com id = 17859155707543078178414175304006162024524 j√° existe.
Registro com id = 17964637774290763178414175304006162024524 j√° existe.
Registro com id = 17926469686323946178414175304006162024524 j√° existe.
Registro com id = 17923856191322773178414175304006162024524 j√° existe.
Registro com id = 17910138085361525178414175304006162024524 j√° existe.
Registro com id = 17887651438412591178414175304006162024524 j√° existe.
Registro com id = 17852371348590736178414175304006162024524 j√° existe.
Registro com id = 17988974095276227178414175304006162024524 j√° existe.
Registro com id = 18100257601044469178414175304006162024524 j√° existe.
Registro com id = 17849482372605373178414175304006162024524 j√° existe.
Registro com id = 18062893174148075178414175304006162024524 j√° existe.
Registro com id = 17847098539602758178414175304006162024524 j√° existe.
Registro com id = 17847530503583685178414175304006162024524 j√° existe.
Registro com id = 17910130867340475178414175304006162024524 j√° existe.
Registro com id = 18074783764101369178414175304006162024524 j√° existe.
Registro com id = 18073111945113642178414175304006162024524 j√° existe.
Registro com id = 17910853738340379178414175304006162024524 j√° existe.
Registro com id = 17843670973604418178414175304006162024524 j√° existe.
Registro com id = 17868340786451289178414175304006162024524 j√° existe.
Registro com id = 18013289950233972178414175304006162024524 j√° existe.
Registro com id = 17911609687335240178414175304006162024524 j√° existe.
Registro com id = 18013011574231998178414175304006162024524 j√° existe.
Registro com id = 18043780708198048178414175304006162024524 j√° existe.
Registro com id = 17846846170552086178414175304006162024524 j√° existe.
Registro com id = 18053346796158304178414175304006162024524 j√° existe.
Registro com id = 18029303027098233178414175304006162024523 j√° existe.

## Tb DTbDescricaoInsights - Carregar dentro da DTbAccountInsights (O nome da DTbAccountInsights ir√° mudar para DTbDescricaoInsights)

BLOCO MOVIDO PARA O INICIO NO CARREGAMENTO DA DTbAccountInsights

## carregando a tabela FTbMidiasInsights

TbStoriesInsights

In [116]:
file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbStoriesInsights.csv'
dataset_1 = pd.read_csv(file_path, sep='\t')
TbStoriesInsights = dataset_1
dataset_1.head(2)

   Unnamed: 0           id_midia     name    period      title                               description                                           id  value extract_date  period_extraction  year  day                              id_tb_midias
0           0  18029303027098233    exits  lifetime     Sa√≠das  N√∫mero de vezes que algu√©m saiu do story    18029303027098233/insights/exits/lifetime     12   2024-05-23                  5  2024   23    1802930302709823320240523exitslifetime
1           1  18029303027098233  replies  lifetime  Respostas        N√∫mero total de respostas ao story  18029303027098233/insights/replies/lifetime      1   2024-05-23                  5  2024   23  1802930302709823320240523replieslifetime

TbMidiasInsights

In [117]:
file_path = r'C:\Users\gabri\OneDrive\Documentos\Projetos\Instagram_data\api\silver\TbMidiasInsights.csv'
dataset_2 = pd.read_csv(file_path, sep='\t')
TbMidiasInsights = dataset_2
# TbMidiasInsights.rename(columns={'id': 'id_midia'}, inplace=True)
dataset_2.head(5)

   Unnamed: 0           id_midia   name    period              title                                        description                                         id  value extract_date  period_extraction  year  day                            id_tb_midias
0           0  18005273918369940  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...  18005273918369940/insights/reach/lifetime  146.0   2024-05-24                  5  2024   24  1800527391836994020240524reachlifetime
1           1  18005273918369940  saved  lifetime              Salvo          O n√∫mero de vezes que seu reel foi salvo.  18005273918369940/insights/saved/lifetime    1.0   2024-05-24                  5  2024   24  1800527391836994020240524savedlifetime
2           0  17846370906157882  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...  17846370906157882/insights/reach/lifetime   99.0   2024-05-24                  5  2024   24  1784637090615788220240524reachlifetime
3           1  17846370906157882  saved  lifetime              Salvo          O n√∫mero de vezes que seu reel foi salvo.  17846370906157882/insights/saved/lifetime    0.0   2024-05-24                  5  2024   24  1784637090615788220240524savedlifetime
4           0  18002752616172667  reach  lifetime  Contas alcan√ßadas  O n√∫mero de contas √∫nicas que viram este reel ...  18002752616172667/insights/reach/lifetime  123.0   2024-05-24                  5  2024   24  1800275261617266720240524reachlifetime

Unindo dimens√£o de descri√ß√£o pelo NAME

Separando as colunas da dimens√£o

In [118]:
engine = connect_to_database('dw')
query = "select * from DTbDescricaoInsights"
DTbDescricaoInsights = pd.read_sql(query, engine)
DTbDescricaoInsights.head()

  id_insight               name frequencia                          title                                        description
0          1      audience_city   lifetime              Cidade do p√∫blico                Cidades dos seguidores deste perfil
1         10        impressions   lifetime                     Impress√µes  O n√∫mero de vezes que seu story foi exibido na...
2         11   online_followers   lifetime              Seguidores online  N√∫mero total de seguidores deste perfil que es...
3         12  phone_call_clicks        day  Cliques em liga√ß√£o telef√¥nica  N√∫mero total de toques no link de liga√ß√£o dest...
4         13      profile_views        day        Visualiza√ß√µes do perfil  N√∫mero total de usu√°rios que visualizaram o pe...

In [119]:
TbStoriesInsights = pd.merge(TbStoriesInsights, DTbDescricaoInsights, on='name', how= 'inner')
TbStoriesInsights.rename(columns={'id_insight_x': 'id_insight'}, inplace=True)
TbMidiasInsights = pd.merge(TbMidiasInsights, DTbDescricaoInsights, on='name', how= 'inner')

Selecionando colunas

In [120]:
select_columns = [
    'id_midia',
    'id_insight',
    'extract_date',
    'period_extraction',
    'year',
    'day',
    'name',  # Renomear
    'value'
]

TbStoriesInsights = TbStoriesInsights[select_columns]
TbMidiasInsights = TbMidiasInsights[select_columns]

In [121]:
FTbMidiasInsights = pd.concat([TbStoriesInsights, TbMidiasInsights], ignore_index=True)
FTbMidiasInsights['id'] = FTbMidiasInsights['id_midia'].astype(str) + FTbMidiasInsights['id_insight'].astype(str) + \
                            FTbMidiasInsights['year'].astype(str) + FTbMidiasInsights['period_extraction'].astype(str) + \
                                FTbMidiasInsights['day'].astype(str)

FTbMidiasInsights = FTbMidiasInsights[['id','id_midia', 'id_insight', 'extract_date', 'period_extraction', 'year', 'day', 'name', 'value']]
FTbMidiasInsights.rename(columns={'name': 'definicao'}, inplace=True)
FTbMidiasInsights.head()

                           id           id_midia id_insight extract_date  period_extraction  year  day     definicao  value
0   1802930302709823372024523  18029303027098233          7   2024-05-23                  5  2024   23         exits   12.0
1  18029303027098233152024523  18029303027098233         15   2024-05-23                  5  2024   23       replies    1.0
2  18029303027098233182024523  18029303027098233         18   2024-05-23                  5  2024   23  taps_forward   36.0
3  18029303027098233172024523  18029303027098233         17   2024-05-23                  5  2024   23     taps_back    1.0
4  18029303027098233102024523  18029303027098233         10   2024-05-23                  5  2024   23   impressions  124.0

Tipagem de dados

In [122]:
FTbMidiasInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 470 non-null    object
 1   id_midia           470 non-null    int64
 2   id_insight         470 non-null    object
 3   extract_date       470 non-null    object
 4   period_extraction  470 non-null    int64
 5   year               470 non-null    int64
 6   day                470 non-null    int64
 7   definicao          470 non-null    object
 8   value              470 non-null    float64
dtypes: float64(1), int64(4), object(4)
memory usage: 33.2+ KB

unindo ambos os dataframes de stories e midias

In [123]:
FTbMidiasInsights['extract_date'] = pd.to_datetime(FTbMidiasInsights['extract_date'])
FTbMidiasInsights['extract_date'] = FTbMidiasInsights['extract_date'].dt.date

type_columns = {
    'id_midia': 'object',
    'id_insight': 'object',
    'period_extraction': 'object',
    'year': 'object',
    'day': 'object',
    'value': 'int'
}

FTbMidiasInsights = FTbMidiasInsights.astype(type_columns)
FTbMidiasInsights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 470 non-null    object
 1   id_midia           470 non-null    object
 2   id_insight         470 non-null    object
 3   extract_date       470 non-null    object
 4   period_extraction  470 non-null    object
 5   year               470 non-null    object
 6   day                470 non-null    object
 7   definicao          470 non-null    object
 8   value              470 non-null    int32
dtypes: int32(1), object(8)
memory usage: 31.3+ KB

Carregando no banco

In [124]:
engine = connect_to_database('DW')
table_name = 'FTbMidiasInsights'
key_column = 'id'

if not engine: 
    print('conex√£o fail')
    sys.exit()

with engine.connect() as connection:
    for i, row in FTbMidiasInsights.iterrows():
        # Verificar se a chave estrangeira existe na tabela DTbMidias
        foreign_key = row['id_midia']
        query_fk = text("SELECT COUNT(*) FROM DTbMidias WHERE id_midia = :foreign_key")
        result_fk = connection.execute(query_fk, {'foreign_key': foreign_key})
        fk_count = result_fk.scalar()

        if fk_count == 0:
            print(f"A chave estrangeira {foreign_key} n√£o existe na tabela DTbMidias. O registro n√£o ser√° inserido.")
            continue

        # Verificar se o registro j√° existe na tabela FTbMidiasInsights
        query_exists = text(f"SELECT COUNT(*) FROM {table_name} WHERE {key_column} = :value")
        result_exists = connection.execute(query_exists, {'value': row[key_column]})
        count = result_exists.scalar()

        if count > 0:
            print(f"Registro com {key_column} = {row[key_column]} j√° existe.")
        else:
            # Inserir o registro na tabela FTbMidiasInsights
            row.to_frame().T.to_sql(table_name, con=connection, if_exists='append', index=False)
            print(f"Registro com {key_column} = {row[key_column]} inserido com sucesso.")
    connection.commit()

Registro com id = 1802930302709823372024523 j√° existe.
Registro com id = 18029303027098233152024523 j√° existe.
Registro com id = 18029303027098233182024523 j√° existe.
Registro com id = 18029303027098233172024523 j√° existe.
Registro com id = 18029303027098233102024523 j√° existe.
Registro com id = 18029303027098233142024523 j√° existe.
Registro com id = 18005273918369940142024524 j√° existe.
Registro com id = 18005273918369940162024524 j√° existe.
Registro com id = 17846370906157882142024524 j√° existe.
Registro com id = 17846370906157882162024524 j√° existe.
Registro com id = 18002752616172667142024524 j√° existe.
Registro com id = 18002752616172667162024524 j√° existe.
Registro com id = 17971594208670851142024524 j√° existe.
Registro com id = 17971594208670851162024524 j√° existe.
Registro com id = 18062694892504235142024524 j√° existe.
Registro com id = 18062694892504235162024524 j√° existe.
Registro com id = 17870243565059503142024524 j√° existe.
Registro com id = 17870243565059503162024524 j√° existe.
Registro com id = 17897388878957061142024524 j√° existe.
Registro com id = 17897388878957061162024524 j√° existe.
Registro com id = 18214911715272967182024524 j√° existe.
Registro com id = 18214911715272967172024524 j√° existe.
Registro com id = 1821491171527296772024524 j√° existe.
Registro com id = 18214911715272967152024524 j√° existe.
Registro com id = 1821491171527296762024524 j√° existe.
Registro com id = 18214911715272967202024524 j√° existe.
Registro com id = 18214911715272967102024524 j√° existe.
Registro com id = 18214911715272967142024524 j√° existe.
Registro com id = 18214911715272967162024524 j√° existe.
Registro com id = 17905338809918494142024524 j√° existe.
Registro com id = 17905338809918494162024524 j√° existe.
Registro com id = 17912491130893668182024524 j√° existe.
Registro com id = 17912491130893668172024524 j√° existe.
Registro com id = 1791249113089366872024524 j√° existe.
Registro com id = 17912491130893668152024524 j√° existe.
Registro com id = 1791249113089366862024524 j√° existe.
Registro com id = 17912491130893668202024524 j√° existe.
Registro com id = 17912491130893668102024524 j√° existe.
Registro com id = 17912491130893668142024524 j√° existe.
Registro com id = 17912491130893668162024524 j√° existe.
Registro com id = 18020750125974446182024524 j√° existe.
Registro com id = 18020750125974446172024524 j√° existe.
Registro com id = 1802075012597444672024524 j√° existe.
Registro com id = 18020750125974446152024524 j√° existe.
Registro com id = 1802075012597444662024524 j√° existe.
Registro com id = 18020750125974446202024524 j√° existe.
Registro com id = 18020750125974446102024524 j√° existe.
Registro com id = 18020750125974446142024524 j√° existe.
Registro com id = 18020750125974446162024524 j√° existe.
Registro com id = 17869447275058315182024524 j√° existe.
Registro com id = 17869447275058315172024524 j√° existe.
Registro com id = 1786944727505831572024524 j√° existe.
Registro com id = 17869447275058315152024524 j√° existe.
Registro com id = 1786944727505831562024524 j√° existe.
Registro com id = 17869447275058315202024524 j√° existe.
Registro com id = 17869447275058315102024524 j√° existe.
Registro com id = 17869447275058315142024524 j√° existe.
Registro com id = 17869447275058315162024524 j√° existe.
Registro com id = 18030343753699664142024524 j√° existe.
Registro com id = 18030343753699664162024524 j√° existe.
Registro com id = 18012618164496765182024524 j√° existe.
Registro com id = 18012618164496765172024524 j√° existe.
Registro com id = 1801261816449676572024524 j√° existe.
Registro com id = 18012618164496765152024524 j√° existe.
Registro com id = 1801261816449676562024524 j√° existe.
Registro com id = 18012618164496765202024524 j√° existe.
Registro com id = 18012618164496765102024524 j√° existe.
Registro com id = 18012618164496765142024524 j√° existe.
Registro com id = 18012618164496765162024524 j√° existe.
Registro com id = 18020150257990451182024524 j√° existe.
Registro com id = 18020150257990451172024524 j√° existe.
Registro com id = 1802015025799045172024524 j√° existe.
Registro com id = 18020150257990451152024524 j√° existe.
Registro com id = 1802015025799045162024524 j√° existe.
Registro com id = 18020150257990451202024524 j√° existe.
Registro com id = 18020150257990451102024524 j√° existe.
Registro com id = 18020150257990451142024524 j√° existe.
Registro com id = 18020150257990451162024524 j√° existe.
Registro com id = 18024592819898084182024524 j√° existe.
Registro com id = 18024592819898084172024524 j√° existe.
Registro com id = 1802459281989808472024524 j√° existe.
Registro com id = 18024592819898084152024524 j√° existe.
Registro com id = 1802459281989808462024524 j√° existe.
Registro com id = 18024592819898084202024524 j√° existe.
Registro com id = 18024592819898084102024524 j√° existe.
Registro com id = 18024592819898084142024524 j√° existe.
Registro com id = 18024592819898084162024524 j√° existe.
Registro com id = 17997324461240753182024524 j√° existe.
Registro com id = 17997324461240753172024524 j√° existe.
Registro com id = 1799732446124075372024524 j√° existe.
Registro com id = 17997324461240753152024524 j√° existe.
Registro com id = 1799732446124075362024524 j√° existe.
Registro com id = 17997324461240753202024524 j√° existe.
Registro com id = 17997324461240753102024524 j√° existe.
Registro com id = 17997324461240753142024524 j√° existe.
Registro com id = 17997324461240753162024524 j√° existe.
Registro com id = 17982183917471535182024524 j√° existe.
Registro com id = 17982183917471535172024524 j√° existe.
Registro com id = 1798218391747153572024524 j√° existe.
Registro com id = 17982183917471535152024524 j√° existe.
Registro com id = 1798218391747153562024524 j√° existe.
Registro com id = 17982183917471535202024524 j√° existe.
Registro com id = 17982183917471535102024524 j√° existe.
Registro com id = 17982183917471535142024524 j√° existe.
Registro com id = 17982183917471535162024524 j√° existe.
Registro com id = 17873173155025720142024524 j√° existe.
Registro com id = 17873173155025720162024524 j√° existe.
Registro com id = 17892179540901363182024524 j√° existe.
Registro com id = 17892179540901363172024524 j√° existe.
Registro com id = 1789217954090136372024524 j√° existe.
Registro com id = 17892179540901363152024524 j√° existe.
Registro com id = 1789217954090136362024524 j√° existe.
Registro com id = 17892179540901363202024524 j√° existe.
Registro com id = 17892179540901363102024524 j√° existe.
Registro com id = 17892179540901363142024524 j√° existe.
Registro com id = 17892179540901363162024524 j√° existe.
Registro com id = 17953225589736051182024524 j√° existe.
Registro com id = 17953225589736051172024524 j√° existe.
Registro com id = 1795322558973605172024524 j√° existe.
Registro com id = 17953225589736051152024524 j√° existe.
Registro com id = 1795322558973605162024524 j√° existe.
Registro com id = 17953225589736051202024524 j√° existe.
Registro com id = 17953225589736051102024524 j√° existe.
Registro com id = 17953225589736051142024524 j√° existe.
Registro com id = 17953225589736051162024524 j√° existe.
Registro com id = 18039366277634967182024524 j√° existe.
Registro com id = 18039366277634967172024524 j√° existe.
Registro com id = 1803936627763496772024524 j√° existe.
Registro com id = 18039366277634967152024524 j√° existe.
Registro com id = 1803936627763496762024524 j√° existe.
Registro com id = 18039366277634967202024524 j√° existe.
Registro com id = 18039366277634967102024524 j√° existe.
Registro com id = 18039366277634967142024524 j√° existe.
Registro com id = 18039366277634967162024524 j√° existe.
Registro com id = 18034865689681990182024524 j√° existe.
Registro com id = 18034865689681990172024524 j√° existe.
Registro com id = 1803486568968199072024524 j√° existe.
Registro com id = 18034865689681990152024524 j√° existe.
Registro com id = 1803486568968199062024524 j√° existe.
Registro com id = 18034865689681990202024524 j√° existe.
Registro com id = 18034865689681990102024524 j√° existe.
Registro com id = 18034865689681990142024524 j√° existe.
Registro com id = 18034865689681990162024524 j√° existe.
Registro com id = 18091892248364995182024524 j√° existe.
Registro com id = 18091892248364995172024524 j√° existe.
Registro com id = 1809189224836499572024524 j√° existe.
Registro com id = 18091892248364995152024524 j√° existe.
Registro com id = 1809189224836499562024524 j√° existe.
Registro com id = 18091892248364995202024524 j√° existe.
Registro com id = 18091892248364995102024524 j√° existe.
Registro com id = 18091892248364995142024524 j√° existe.
Registro com id = 18091892248364995162024524 j√° existe.
Registro com id = 17950801427740207182024524 j√° existe.
Registro com id = 17950801427740207172024524 j√° existe.
Registro com id = 1795080142774020772024524 j√° existe.
Registro com id = 17950801427740207152024524 j√° existe.
Registro com id = 1795080142774020762024524 j√° existe.
Registro com id = 17950801427740207202024524 j√° existe.
Registro com id = 17950801427740207102024524 j√° existe.
Registro com id = 17950801427740207142024524 j√° existe.
Registro com id = 17950801427740207162024524 j√° existe.
Registro com id = 18065695549489192182024524 j√° existe.
Registro com id = 18065695549489192172024524 j√° existe.
Registro com id = 1806569554948919272024524 j√° existe.
Registro com id = 18065695549489192152024524 j√° existe.
Registro com id = 1806569554948919262024524 j√° existe.
Registro com id = 18065695549489192202024524 j√° existe.
Registro com id = 18065695549489192102024524 j√° existe.
Registro com id = 18065695549489192142024524 j√° existe.
Registro com id = 18065695549489192162024524 j√° existe.
Registro com id = 18249982000212022182024524 j√° existe.
Registro com id = 18249982000212022172024524 j√° existe.
Registro com id = 1824998200021202272024524 j√° existe.
Registro com id = 18249982000212022152024524 j√° existe.
Registro com id = 1824998200021202262024524 j√° existe.
Registro com id = 18249982000212022202024524 j√° existe.
Registro com id = 18249982000212022102024524 j√° existe.
Registro com id = 18249982000212022142024524 j√° existe.
Registro com id = 18249982000212022162024524 j√° existe.
Registro com id = 18036597331663791182024524 j√° existe.
Registro com id = 18036597331663791172024524 j√° existe.
Registro com id = 1803659733166379172024524 j√° existe.
Registro com id = 18036597331663791152024524 j√° existe.
Registro com id = 1803659733166379162024524 j√° existe.
Registro com id = 18036597331663791202024524 j√° existe.
Registro com id = 18036597331663791102024524 j√° existe.
Registro com id = 18036597331663791142024524 j√° existe.
Registro com id = 18036597331663791162024524 j√° existe.
Registro com id = 17970826016660160182024524 j√° existe.
Registro com id = 17970826016660160172024524 j√° existe.
Registro com id = 1797082601666016072024524 j√° existe.
Registro com id = 17970826016660160152024524 j√° existe.
Registro com id = 1797082601666016062024524 j√° existe.
Registro com id = 17970826016660160202024524 j√° existe.
Registro com id = 17970826016660160102024524 j√° existe.
Registro com id = 17970826016660160142024524 j√° existe.
Registro com id = 17970826016660160162024524 j√° existe.
Registro com id = 17891122685897851182024524 j√° existe.
Registro com id = 17891122685897851172024524 j√° existe.
Registro com id = 1789112268589785172024524 j√° existe.
Registro com id = 17891122685897851152024524 j√° existe.
Registro com id = 1789112268589785162024524 j√° existe.
Registro com id = 17891122685897851202024524 j√° existe.
Registro com id = 17891122685897851102024524 j√° existe.
Registro com id = 17891122685897851142024524 j√° existe.
Registro com id = 17891122685897851162024524 j√° existe.
Registro com id = 18112975201322049182024524 j√° existe.
Registro com id = 18112975201322049172024524 j√° existe.
Registro com id = 1811297520132204972024524 j√° existe.
Registro com id = 18112975201322049152024524 j√° existe.
Registro com id = 1811297520132204962024524 j√° existe.
Registro com id = 18112975201322049202024524 j√° existe.
Registro com id = 18112975201322049102024524 j√° existe.
Registro com id = 18112975201322049142024524 j√° existe.
Registro com id = 18112975201322049162024524 j√° existe.
Registro com id = 18082369435378017182024524 j√° existe.
Registro com id = 18082369435378017172024524 j√° existe.
Registro com id = 1808236943537801772024524 j√° existe.
Registro com id = 18082369435378017152024524 j√° existe.
Registro com id = 1808236943537801762024524 j√° existe.
Registro com id = 18082369435378017202024524 j√° existe.
Registro com id = 18082369435378017102024524 j√° existe.
Registro com id = 18082369435378017142024524 j√° existe.
Registro com id = 18082369435378017162024524 j√° existe.
Registro com id = 18005906753255379182024524 j√° existe.
Registro com id = 18005906753255379172024524 j√° existe.
Registro com id = 1800590675325537972024524 j√° existe.
Registro com id = 18005906753255379152024524 j√° existe.
Registro com id = 1800590675325537962024524 j√° existe.
Registro com id = 18005906753255379202024524 j√° existe.
Registro com id = 18005906753255379102024524 j√° existe.
Registro com id = 18005906753255379142024524 j√° existe.
Registro com id = 18005906753255379162024524 j√° existe.
Registro com id = 18041914348617681182024524 j√° existe.
Registro com id = 18041914348617681172024524 j√° existe.
Registro com id = 1804191434861768172024524 j√° existe.
Registro com id = 18041914348617681152024524 j√° existe.
Registro com id = 1804191434861768162024524 j√° existe.
Registro com id = 18041914348617681202024524 j√° existe.
Registro com id = 18041914348617681102024524 j√° existe.
Registro com id = 18041914348617681142024524 j√° existe.
Registro com id = 18041914348617681162024524 j√° existe.
Registro com id = 17998872359374643182024524 j√° existe.
Registro com id = 17998872359374643172024524 j√° existe.
Registro com id = 1799887235937464372024524 j√° existe.
Registro com id = 17998872359374643152024524 j√° existe.
Registro com id = 1799887235937464362024524 j√° existe.
Registro com id = 17998872359374643202024524 j√° existe.
Registro com id = 17998872359374643102024524 j√° existe.
Registro com id = 17998872359374643142024524 j√° existe.
Registro com id = 17998872359374643162024524 j√° existe.
Registro com id = 18011278775500459182024524 j√° existe.
Registro com id = 18011278775500459172024524 j√° existe.
Registro com id = 1801127877550045972024524 j√° existe.
Registro com id = 18011278775500459152024524 j√° existe.
Registro com id = 1801127877550045962024524 j√° existe.
Registro com id = 18011278775500459202024524 j√° existe.
Registro com id = 18011278775500459102024524 j√° existe.
Registro com id = 18011278775500459142024524 j√° existe.
Registro com id = 18011278775500459162024524 j√° existe.
Registro com id = 17983677587408251182024524 j√° existe.
Registro com id = 17983677587408251172024524 j√° existe.
Registro com id = 1798367758740825172024524 j√° existe.
Registro com id = 17983677587408251152024524 j√° existe.
Registro com id = 1798367758740825162024524 j√° existe.
Registro com id = 17983677587408251202024524 j√° existe.
Registro com id = 17983677587408251102024524 j√° existe.
Registro com id = 17983677587408251142024524 j√° existe.
Registro com id = 17983677587408251162024524 j√° existe.
Registro com id = 18276264910162723182024524 j√° existe.
Registro com id = 18276264910162723172024524 j√° existe.
Registro com id = 1827626491016272372024524 j√° existe.
Registro com id = 18276264910162723152024524 j√° existe.
Registro com id = 1827626491016272362024524 j√° existe.
Registro com id = 18276264910162723202024524 j√° existe.
Registro com id = 18276264910162723102024524 j√° existe.
Registro com id = 18276264910162723142024524 j√° existe.
Registro com id = 18276264910162723162024524 j√° existe.
Registro com id = 18149116891307761182024524 j√° existe.
Registro com id = 18149116891307761172024524 j√° existe.
Registro com id = 1814911689130776172024524 j√° existe.
Registro com id = 18149116891307761152024524 j√° existe.
Registro com id = 1814911689130776162024524 j√° existe.
Registro com id = 18149116891307761202024524 j√° existe.
Registro com id = 18149116891307761102024524 j√° existe.
Registro com id = 18149116891307761142024524 j√° existe.
Registro com id = 18149116891307761162024524 j√° existe.
Registro com id = 18005078747253576182024524 j√° existe.
Registro com id = 18005078747253576172024524 j√° existe.
Registro com id = 1800507874725357672024524 j√° existe.
Registro com id = 18005078747253576152024524 j√° existe.
Registro com id = 1800507874725357662024524 j√° existe.
Registro com id = 18005078747253576202024524 j√° existe.
Registro com id = 18005078747253576102024524 j√° existe.
Registro com id = 18005078747253576142024524 j√° existe.
Registro com id = 18005078747253576162024524 j√° existe.
Registro com id = 17996237798221062182024524 j√° existe.
Registro com id = 17996237798221062172024524 j√° existe.
Registro com id = 1799623779822106272024524 j√° existe.
Registro com id = 17996237798221062152024524 j√° existe.
Registro com id = 1799623779822106262024524 j√° existe.
Registro com id = 17996237798221062202024524 j√° existe.
Registro com id = 17996237798221062102024524 j√° existe.
Registro com id = 17996237798221062142024524 j√° existe.
Registro com id = 17996237798221062162024524 j√° existe.
Registro com id = 18014754566080141182024524 j√° existe.
Registro com id = 18014754566080141172024524 j√° existe.
Registro com id = 1801475456608014172024524 j√° existe.
Registro com id = 18014754566080141152024524 j√° existe.
Registro com id = 1801475456608014162024524 j√° existe.
Registro com id = 18014754566080141202024524 j√° existe.
Registro com id = 18014754566080141102024524 j√° existe.
Registro com id = 18014754566080141142024524 j√° existe.
Registro com id = 18014754566080141162024524 j√° existe.
Registro com id = 18028826005693449182024524 j√° existe.
Registro com id = 18028826005693449172024524 j√° existe.
Registro com id = 1802882600569344972024524 j√° existe.
Registro com id = 18028826005693449152024524 j√° existe.
Registro com id = 1802882600569344962024524 j√° existe.
Registro com id = 18028826005693449202024524 j√° existe.
Registro com id = 18028826005693449102024524 j√° existe.
Registro com id = 18028826005693449142024524 j√° existe.
Registro com id = 18028826005693449162024524 j√° existe.
Registro com id = 18032981563739916182024524 j√° existe.
Registro com id = 18032981563739916172024524 j√° existe.
Registro com id = 1803298156373991672024524 j√° existe.
Registro com id = 18032981563739916152024524 j√° existe.
Registro com id = 1803298156373991662024524 j√° existe.
Registro com id = 18032981563739916202024524 j√° existe.
Registro com id = 18032981563739916102024524 j√° existe.
Registro com id = 18032981563739916142024524 j√° existe.
Registro com id = 18032981563739916162024524 j√° existe.
Registro com id = 18326579032099902182024524 j√° existe.
Registro com id = 18326579032099902172024524 j√° existe.
Registro com id = 1832657903209990272024524 j√° existe.
Registro com id = 18326579032099902152024524 j√° existe.
Registro com id = 1832657903209990262024524 j√° existe.
Registro com id = 18326579032099902202024524 j√° existe.
Registro com id = 18326579032099902102024524 j√° existe.
Registro com id = 18326579032099902142024524 j√° existe.
Registro com id = 18326579032099902162024524 j√° existe.
Registro com id = 18006275992961972182024524 j√° existe.
Registro com id = 18006275992961972172024524 j√° existe.
Registro com id = 1800627599296197272024524 j√° existe.
Registro com id = 18006275992961972152024524 j√° existe.
Registro com id = 1800627599296197262024524 j√° existe.
Registro com id = 18006275992961972202024524 j√° existe.
Registro com id = 18006275992961972102024524 j√° existe.
Registro com id = 18006275992961972142024524 j√° existe.
Registro com id = 18006275992961972162024524 j√° existe.
Registro com id = 18032597344644097182024524 j√° existe.
Registro com id = 18032597344644097172024524 j√° existe.